<footer class="footer">
    <div class="footer__top footer-info">
        <a href="/" class="footer-info__logo">
            <img src="images/logo.png" alt="Akb-PITER">
        </a>
        <nav class="footer__nav footer-nav">
            <ul class="footer-nav__list">
                <li class="footer-nav__item">
                    <a href="/" class="footer-nav__link">Главная</a>
                </li>
                <li class="footer-nav__item">
                    <a href="about.html" class="footer-nav__link">О нас</a>
                </li>
                <li class="footer-nav__item">
                    <a href="catalog.html" class="footer-nav__link">Каталог</a>
                </li>
                <li class="footer-nav__item">
                    <a href="delivery.html" class="footer-nav__link">Доставка и оплата</a>
                </li>
                <li class="footer-nav__item">
                    <a href="#" class="footer-nav__link">Контакты</a>
                </li>
            </ul>
        </nav>
        <div class="footer__contacts footer-contacts">
            <a href="#" class="footer-contacts__link">
                <svg class="footer-contacts__icon" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M7 0C3.13401 0 0 3.13401 0 7C0 10.866 3.13401 14 7 14C10.866 14 14 10.866 14 7C14 3.13401 10.866 0 7 0ZM7 2.37121C8.92716 2.37121 10.4897 3.93381 10.4897 5.86096C10.4897 6.44473 10.3298 7.21536 10.001 7.65111L7 11.6288L3.99902 7.65113C3.63701 7.17136 3.51024 6.50547 3.51024 5.86098C3.51025 3.93381 5.07284 2.37121 7 2.37121ZM7 4.39294C6.18913 4.39294 5.53198 5.05009 5.53198 5.86096C5.53198 6.67183 6.18913 7.32898 7 7.32898C7.81087 7.32898 8.46802 6.67183 8.46802 5.86096C8.46802 5.05009 7.81087 4.39294 7 4.39294Z" fill="#FF4747"/> </svg>
                    Санкт-Петербург,<br>ул. Придорожная Аллея 16Д</a>
            <div class="footer-contacts__contacts">

                <a href="tel:88005117111" class="footer-contacts__link"><svg class="footer-contacts__icon" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 0C3.13401 0 0 3.13401 0 7C0 10.866 3.13401 14 7 14C10.866 14 14 10.866 14 7C14 3.13401 10.866 0 7 0ZM4.48438 2.78052C4.6286 2.77201 4.75896 2.85822 4.85779 3.01123L5.81482 4.82616C5.91558 5.04122 5.85832 5.2715 5.70801 5.42516L5.26966 5.86351C5.2426 5.90059 5.2248 5.94235 5.22437 5.98827C5.39247 6.63898 5.9024 7.2392 6.35231 7.65197C6.8022 8.06474 7.28575 8.62358 7.91345 8.75597C7.99104 8.77762 8.08609 8.78537 8.14161 8.73377L8.65088 8.2151C8.82667 8.08185 9.08098 8.01727 9.26868 8.12623H9.27722L11.0041 9.14564C11.2576 9.30453 11.2839 9.61165 11.1024 9.79847L9.91297 10.9785C9.73732 11.1587 9.50396 11.2192 9.27724 11.2195C8.27451 11.1894 7.32706 10.6973 6.54885 10.1915C5.27147 9.26225 4.09975 8.10966 3.36414 6.71717C3.08202 6.13325 2.7506 5.38822 2.78223 4.73647C2.78506 4.49128 2.85139 4.25108 3.02406 4.09304L4.21351 2.90359C4.30617 2.82474 4.39783 2.78563 4.48438 2.78052Z" fill="#FF4747"/>
                    </svg>
                    8(800) 511 - 71 - 11</a>
                <a href="mailto:zamenaakb@yandex.ru" class="footer-contacts__link"><svg class="footer-contacts__icon" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 0C5.14348 0 3.36301 0.737498 2.05025 2.05025C0.737498 3.36301 0 5.14348 0 7C0 8.85652 0.737498 10.637 2.05025 11.9497C3.36301 13.2625 5.14348 14 7 14C8.85652 14 10.637 13.2625 11.9497 11.9497C13.2625 10.637 14 8.85652 14 7C14 5.14348 13.2625 3.36301 11.9497 2.05025C10.637 0.737498 8.85652 0 7 0V0ZM3.5 3.5H10.5C10.6251 3.5 10.7459 3.52712 10.8579 3.577L7 8.07712L3.14213 3.577C3.2545 3.52593 3.37656 3.49966 3.5 3.5ZM2.625 9.625V4.375L2.62675 4.31987L5.19225 7.31325L2.65475 9.85075C2.63471 9.77718 2.6247 9.70125 2.625 9.625ZM10.5 10.5H3.5C3.423 10.5 3.34688 10.4895 3.27425 10.4702L5.7645 7.98L7.00088 9.422L8.23725 7.98L10.7275 10.4702C10.6539 10.4903 10.578 10.5003 10.5017 10.5H10.5ZM11.375 9.625C11.375 9.702 11.3645 9.77813 11.3452 9.85075L8.80775 7.31325L11.3733 4.31987L11.375 4.375V9.625Z" fill="#FF4747"/>
                    </svg>
                    zamenaakb@yandex.ru</a>
            </div>
        </div>
    </div>
    <div class="footer__bottom footer-copy">
        <div class="footer-copy__info footer-copy__info--link">
            <a href="#" class="footer-copy__info footer-copy__info--link">Политика конфиденциальности</a>
        </div>
        <p class="footer-copy__info">© 2021. Все права защищены</p>
        <div class="footer-copy__web">
            <a href="#" class="">
                <img src="images/abi.png" alt="ABI Web">
            </a>
        </div>
    </div>
</footer>
@@include('modal.html')
<!-- <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script> -->
<script src="js/libs.js"></script>
<script src="js/main.js"></script>