<header class="header">
    <div class="header__top">
        <nav class="header__top-nav top-nav">
            <ul class="top-nav__list">
                <li class="top-nav__item">
                    <a href="/" class="top-nav__link">Главная</a>
                </li>
                <li class="top-nav__item">
                    <a href="about.html" class="top-nav__link">О нас</a>
                </li>
                <li class="top-nav__item">
                    <a href="catalog.html" class="top-nav__link">Каталог</a>
                </li>
                <li class="top-nav__item">
                    <a href="delivery.html" class="top-nav__link">Доставка и оплата</a>
                </li>
                <li class="top-nav__item">
                    <a href="contacts.html" class="top-nav__link">Контакты</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="header__main">
        <button class="header__menu-btn menu-btn">
            <svg class="menu-btn__icon" viewBox="0 0 27 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g opacity="0.5"> <rect x="6" y="6" width="15" height="1" fill="#191919"/> <rect x="6" y="10" width="15" height="1" fill="#191919"/> <rect x="6" y="14" width="15" height="1" fill="#191919"/> </g> <rect x="0.5" y="0.5" width="26" height="19" rx="2.5" stroke="url(#linear_menu)"/> <defs> <linearGradient id="linear_menu" x1="0" y1="10" x2="30.51" y2="10" gradientUnits="userSpaceOnUse"> <stop stop-color="#FF9A00"/> <stop offset="0.838542" stop-color="#FF4747"/> </linearGradient> </defs>
            </svg>
            <span class="menu-btn__text">Меню</span>
        </button>
        <a href="/" class="header__logo head-logo">
            <img class="head-logo__pic" src="images/logo.png" alt="Akb-PITER">
        </a>
        <form action="#" class="header__search head-search">
            <div class="head-search__input-con">
                <input type="text" name="search" class="head-search__input" placeholder="Поиск по сайту">
            </div>
            <button type="submit" class="head-search__submit">
                <svg class="head-search__submit-icon" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.7593 14.7961L11.3445 10.4012C12.0296 9.51951 12.4002 8.44152 12.4002 7.30767C12.4002 5.95045 11.8681 4.67784 10.9059 3.71831C9.94367 2.75877 8.66187 2.23077 7.30018 2.23077C5.93848 2.23077 4.65669 2.76046 3.69449 3.71831C2.73059 4.67615 2.2002 5.95045 2.2002 7.30767C2.2002 8.66321 2.73229 9.9392 3.69449 10.897C4.65669 11.8566 5.93678 12.3846 7.30018 12.3846C8.43917 12.3846 9.52037 12.0157 10.4061 11.3353L14.8209 15.7286C14.8339 15.7415 14.8493 15.7517 14.8662 15.7587C14.8831 15.7656 14.9012 15.7692 14.9195 15.7692C14.9379 15.7692 14.956 15.7656 14.9729 15.7587C14.9898 15.7517 15.0052 15.7415 15.0181 15.7286L15.7593 14.9924C15.7723 14.9795 15.7826 14.9642 15.7896 14.9474C15.7966 14.9305 15.8002 14.9125 15.8002 14.8943C15.8002 14.876 15.7966 14.858 15.7896 14.8411C15.7826 14.8243 15.7723 14.809 15.7593 14.7961ZM9.99297 9.98828C9.27217 10.7041 8.31677 11.0984 7.30018 11.0984C6.28358 11.0984 5.32818 10.7041 4.60739 9.98828C3.88829 9.27074 3.49219 8.31967 3.49219 7.30767C3.49219 6.29568 3.88829 5.34291 4.60739 4.62707C5.32818 3.91123 6.28358 3.51692 7.30018 3.51692C8.31677 3.51692 9.27387 3.90954 9.99297 4.62707C10.7121 5.34461 11.1082 6.29568 11.1082 7.30767C11.1082 8.31967 10.7121 9.27244 9.99297 9.98828Z" fill="#FEFEFE"/>
                </svg>
            </button>
            <button class="head-search__open"></button>
            <div class="head-search__popular popular">
                <a href="catalog.html" class="popular__link">AUTOPART</a>
                <a href="catalog.html" class="popular__link">INCI AKU</a>
                <a href="catalog.html" class="popular__link">Тюменский аккумуляторный завод </a>
                <a href="catalog.html" class="popular__link">WESTA Казахстан</a>
            </div>
        </form>
        <a href="cart.html" class="header__cart cart">
            <svg class="cart__icon" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.79147 19.25C8.55085 19.25 9.16644 18.6344 9.16644 17.875C9.16644 17.1156 8.55085 16.5 7.79147 16.5C7.0321 16.5 6.4165 17.1156 6.4165 17.875C6.4165 18.6344 7.0321 19.25 7.79147 19.25Z" fill="#191919"/> <path d="M16.0415 19.25C16.8008 19.25 17.4164 18.6344 17.4164 17.875C17.4164 17.1156 16.8008 16.5 16.0415 16.5C15.2821 16.5 14.6665 17.1156 14.6665 17.875C14.6665 18.6344 15.2821 19.25 16.0415 19.25Z" fill="#191919"/> <path d="M20.023 3.58269C19.9673 3.51088 19.8971 3.45286 19.8174 3.41281C19.7376 3.37276 19.6504 3.35167 19.562 3.35106H7.09607L7.48525 4.60314H18.7776L17.179 12.1156H8.19776L5.46149 3.05682C5.43189 2.96069 5.3805 2.87348 5.31168 2.80263C5.24287 2.73177 5.15869 2.67937 5.06632 2.64989L2.61145 1.86108C2.53597 1.83683 2.45665 1.82836 2.37804 1.83615C2.29943 1.84395 2.22305 1.86786 2.15327 1.90652C2.01235 1.98459 1.90687 2.118 1.86002 2.2774C1.81318 2.43679 1.82881 2.60912 1.90348 2.75646C1.97815 2.9038 2.10574 3.0141 2.25819 3.06308L4.40769 3.75172L7.15594 12.8293L6.174 13.6682L6.09616 13.7496C5.85327 14.0423 5.7156 14.4143 5.70685 14.8017C5.69811 15.1891 5.81885 15.5675 6.04826 15.8719C6.21145 16.0794 6.41883 16.2441 6.6538 16.3528C6.88876 16.4615 7.1448 16.5112 7.40143 16.4979H17.3945C17.5533 16.4979 17.7056 16.4319 17.8179 16.3145C17.9302 16.1971 17.9933 16.0379 17.9933 15.8719C17.9933 15.7058 17.9302 15.5466 17.8179 15.4292C17.7056 15.3118 17.5533 15.2458 17.3945 15.2458H7.30563C7.23668 15.2434 7.16951 15.2224 7.11059 15.1848C7.05168 15.1473 7.00302 15.0945 6.96931 15.0316C6.9356 14.9686 6.91799 14.8977 6.91817 14.8255C6.91835 14.7534 6.93631 14.6825 6.97033 14.6198L8.41331 13.3677H17.658C17.7964 13.3712 17.9317 13.3245 18.0408 13.2355C18.15 13.1465 18.2263 13.0206 18.2567 12.8794L20.1547 4.11483C20.173 4.02149 20.1706 3.92505 20.1477 3.83283C20.1249 3.74062 20.0823 3.65507 20.023 3.58269Z" fill="#191919"/>
            </svg>
            <span class="cart__items">0</span>
        </a>
        <div class="header__contacts head-contacts">
            <a href="tel:88005117111" class="head-contacts__link">
                <svg class="head-contacts__icon" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0ZM5.125 3.17773C5.28983 3.16801 5.43881 3.26653 5.55176 3.4414L6.64551 5.51561C6.76067 5.7614 6.69523 6.02457 6.52344 6.20019L6.02247 6.70116C5.99155 6.74353 5.9712 6.79125 5.97071 6.84373C6.16283 7.5874 6.7456 8.27337 7.25979 8.74511C7.77395 9.21684 8.32657 9.85552 9.04395 10.0068C9.13261 10.0316 9.24124 10.0404 9.30469 9.98145L9.88672 9.38868C10.0876 9.2364 10.3783 9.1626 10.5928 9.28712H10.6025L12.5761 10.4522C12.8659 10.6337 12.8959 10.9847 12.6885 11.1983L11.3291 12.5469C11.1284 12.7527 10.8617 12.822 10.6026 12.8223C9.45659 12.7879 8.37379 12.2255 7.4844 11.6475C6.02453 10.5854 4.68543 9.26819 3.84473 7.67676C3.52231 7.00943 3.14355 6.15796 3.17969 5.41311C3.18292 5.13289 3.25873 4.85837 3.45607 4.67776L4.81544 3.31839C4.92133 3.22828 5.02609 3.18357 5.125 3.17773Z" fill="url(#paint_phone"/>
                    <defs>
                    <linearGradient id="paint_phone" x1="0" y1="8" x2="18.08" y2="8" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FF9A00"/>
                    <stop offset="0.838542" stop-color="#FF4747"/>
                    </linearGradient>
                    </defs>
                </svg>  
                <span class="head-contacts__text">
                    8(800) 511 - 71 - 11
                </span>              
            </a>
            <a href="mailto:zamenaakb@yandex.ru" class="head-contacts__link">
                <svg class="head-contacts__icon" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 0C5.87827 0 3.84344 0.842855 2.34315 2.34315C0.842855 3.84344 0 5.87827 0 8C0 10.1217 0.842855 12.1566 2.34315 13.6569C3.84344 15.1571 5.87827 16 8 16C10.1217 16 12.1566 15.1571 13.6569 13.6569C15.1571 12.1566 16 10.1217 16 8C16 5.87827 15.1571 3.84344 13.6569 2.34315C12.1566 0.842855 10.1217 0 8 0V0ZM4 4H12C12.143 4 12.281 4.031 12.409 4.088L8 9.231L3.591 4.088C3.71943 4.02963 3.85893 3.99961 4 4ZM3 11V5L3.002 4.937L5.934 8.358L3.034 11.258C3.01109 11.1739 2.99966 11.0871 3 11ZM12 12H4C3.912 12 3.825 11.988 3.742 11.966L6.588 9.12L8.001 10.768L9.414 9.12L12.26 11.966C12.1759 11.9889 12.0891 12.0003 12.002 12H12ZM13 11C13 11.088 12.988 11.175 12.966 11.258L10.066 8.358L12.998 4.937L13 5V11Z" fill="url(#paint_mail)"/>
                    <defs>
                    <linearGradient id="paint_mail" x1="0" y1="8" x2="18.08" y2="8" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FF9A00"/>
                    <stop offset="0.838542" stop-color="#FF4747"/>
                    </linearGradient>
                    </defs>
                </svg> 
                <span class="head-contacts__text">
                    zamenaakb@yandex.ru
                </span>               
            </a>
            <a href="#map" class="head-contacts__link  head-contacts__link--address">
                <svg class="head-contacts__icon" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.5 0C4.70101 0 0 4.70101 0 10.5C0 16.299 4.70101 21 10.5 21C16.299 21 21 16.299 21 10.5C21 4.70101 16.299 0 10.5 0ZM10.5 3.55682C13.3907 3.55682 15.7346 5.90072 15.7346 8.79144C15.7346 9.66709 15.4947 10.823 15.0014 11.4767L10.5 17.4432L5.99853 11.4767C5.45552 10.757 5.26536 9.75821 5.26536 8.79148C5.26538 5.90072 7.60926 3.55682 10.5 3.55682ZM10.5 6.58942C9.2837 6.58942 8.29798 7.57514 8.29798 8.79144C8.29798 10.0077 9.2837 10.9935 10.5 10.9935C11.7163 10.9935 12.702 10.0077 12.702 8.79144C12.702 7.57514 11.7163 6.58942 10.5 6.58942Z" fill="url(#paint_map)"/>
                    <defs>
                    <linearGradient id="paint_map" x1="0" y1="10.5" x2="23.73" y2="10.5" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FF9A00"/>
                    <stop offset="0.838542" stop-color="#FF4747"/>
                    </linearGradient>
                    </defs>
                </svg>
                <span class="head-contacts__text">
                    ул. Придорожная Аллея 16Д
                </span>   
            </a>
        </div>
    </div>
    <div class="header__menu main-menu">
        <button class="main-menu__close">
            <svg class="main-menu__close-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22.5 22.5L1.5 1.5M1.5 22.5L22.5 1.5L1.5 22.5Z" stroke="#191919" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>                
        </button>
        <nav class="main-menu__nav menu-nav">
            <ul class="menu-nav__list">
                <li class="menu-nav__item">
                    <a href="/" class="menu-nav__link">Главная</a>
                </li>
                <li class="menu-nav__item">
                    <a href="about.html" class="menu-nav__link">О нас</a>
                </li>
                <li class="menu-nav__item">
                    <a href="catalog.html" class="menu-nav__link">Каталог</a>
                </li>
                <li class="menu-nav__item">
                    <a href="delivery.html" class="menu-nav__link">Доставка и оплата</a>
                </li>
                <li class="menu-nav__item">
                    <a href="contacts.html" class="menu-nav__link">Контакты</a>
                </li>
            </ul>
        </nav>
        <div class="main-menu__contacts">
            <a href="#map" class="head-contacts__link  head-contacts__link head-contacts__link--menu">
                <svg class="head-contacts__icon" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.5 0C4.70101 0 0 4.70101 0 10.5C0 16.299 4.70101 21 10.5 21C16.299 21 21 16.299 21 10.5C21 4.70101 16.299 0 10.5 0ZM10.5 3.55682C13.3907 3.55682 15.7346 5.90072 15.7346 8.79144C15.7346 9.66709 15.4947 10.823 15.0014 11.4767L10.5 17.4432L5.99853 11.4767C5.45552 10.757 5.26536 9.75821 5.26536 8.79148C5.26538 5.90072 7.60926 3.55682 10.5 3.55682ZM10.5 6.58942C9.2837 6.58942 8.29798 7.57514 8.29798 8.79144C8.29798 10.0077 9.2837 10.9935 10.5 10.9935C11.7163 10.9935 12.702 10.0077 12.702 8.79144C12.702 7.57514 11.7163 6.58942 10.5 6.58942Z" fill="url(#paint_menumap)"/>
                    <defs>
                    <linearGradient id="paint_menumap" x1="0" y1="10.5" x2="23.73" y2="10.5" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FF9A00"/>
                    <stop offset="0.838542" stop-color="#FF4747"/>
                    </linearGradient>
                    </defs>
                </svg>
                <span class="head-contacts__text">
                    Санкт-Петербург, <br>ул. Придорожная Аллея 16Д
                </span>   
            </a>
            <a href="mailto:zamenaakb@yandex.ru" class="head-contacts__link head-contacts__link--menu">
                <svg class="head-contacts__icon" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 0C5.87827 0 3.84344 0.842855 2.34315 2.34315C0.842855 3.84344 0 5.87827 0 8C0 10.1217 0.842855 12.1566 2.34315 13.6569C3.84344 15.1571 5.87827 16 8 16C10.1217 16 12.1566 15.1571 13.6569 13.6569C15.1571 12.1566 16 10.1217 16 8C16 5.87827 15.1571 3.84344 13.6569 2.34315C12.1566 0.842855 10.1217 0 8 0V0ZM4 4H12C12.143 4 12.281 4.031 12.409 4.088L8 9.231L3.591 4.088C3.71943 4.02963 3.85893 3.99961 4 4ZM3 11V5L3.002 4.937L5.934 8.358L3.034 11.258C3.01109 11.1739 2.99966 11.0871 3 11ZM12 12H4C3.912 12 3.825 11.988 3.742 11.966L6.588 9.12L8.001 10.768L9.414 9.12L12.26 11.966C12.1759 11.9889 12.0891 12.0003 12.002 12H12ZM13 11C13 11.088 12.988 11.175 12.966 11.258L10.066 8.358L12.998 4.937L13 5V11Z" fill="url(#paint_menumail)"/>
                    <defs>
                    <linearGradient id="paint_menumail" x1="0" y1="8" x2="18.08" y2="8" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FF9A00"/>
                    <stop offset="0.838542" stop-color="#FF4747"/>
                    </linearGradient>
                    </defs>
                </svg> 
                <span class="head-contacts__text">
                    zamenaakb@yandex.ru
                </span>               
            </a>
            <a href="tel:88005117111" class="head-contacts__link head-contacts__link--menu">
                <svg class="head-contacts__icon" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0ZM5.125 3.17773C5.28983 3.16801 5.43881 3.26653 5.55176 3.4414L6.64551 5.51561C6.76067 5.7614 6.69523 6.02457 6.52344 6.20019L6.02247 6.70116C5.99155 6.74353 5.9712 6.79125 5.97071 6.84373C6.16283 7.5874 6.7456 8.27337 7.25979 8.74511C7.77395 9.21684 8.32657 9.85552 9.04395 10.0068C9.13261 10.0316 9.24124 10.0404 9.30469 9.98145L9.88672 9.38868C10.0876 9.2364 10.3783 9.1626 10.5928 9.28712H10.6025L12.5761 10.4522C12.8659 10.6337 12.8959 10.9847 12.6885 11.1983L11.3291 12.5469C11.1284 12.7527 10.8617 12.822 10.6026 12.8223C9.45659 12.7879 8.37379 12.2255 7.4844 11.6475C6.02453 10.5854 4.68543 9.26819 3.84473 7.67676C3.52231 7.00943 3.14355 6.15796 3.17969 5.41311C3.18292 5.13289 3.25873 4.85837 3.45607 4.67776L4.81544 3.31839C4.92133 3.22828 5.02609 3.18357 5.125 3.17773Z" fill="url(#paint_menuphone"/>
                    <defs>
                    <linearGradient id="paint_menuphone" x1="0" y1="8" x2="18.08" y2="8" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FF9A00"/>
                    <stop offset="0.838542" stop-color="#FF4747"/>
                    </linearGradient>
                    </defs>
                </svg>  
                <span class="head-contacts__text">
                    8(800) 511 - 71 - 11
                </span>              
            </a>
        </div>
    </div>

</header>