<section id="map" class="map">
    <div class="map__info">
        <h2 class="subtitle map__title">Контакты</h2>
        <div class="map__contacts map-contacts">
            <div class="map-contacts__con">
                <a href="tel:88005117111" class="map-contacts__link">
                    <svg class="map-contacts__link-icon" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0ZM5.125 3.17773C5.28983 3.16801 5.43881 3.26653 5.55176 3.4414L6.64551 5.51561C6.76067 5.7614 6.69523 6.02457 6.52344 6.20019L6.02247 6.70116C5.99155 6.74353 5.9712 6.79125 5.97071 6.84373C6.16283 7.5874 6.7456 8.27337 7.25979 8.74511C7.77395 9.21684 8.32657 9.85552 9.04395 10.0068C9.13261 10.0316 9.24124 10.0404 9.30469 9.98145L9.88672 9.38868C10.0876 9.2364 10.3783 9.1626 10.5928 9.28712H10.6025L12.5761 10.4522C12.8659 10.6337 12.8959 10.9847 12.6885 11.1983L11.3291 12.5469C11.1284 12.7527 10.8617 12.822 10.6026 12.8223C9.45659 12.7879 8.37379 12.2255 7.4844 11.6475C6.02453 10.5854 4.68543 9.26819 3.84473 7.67676C3.52231 7.00943 3.14355 6.15796 3.17969 5.41311C3.18292 5.13289 3.25873 4.85837 3.45607 4.67776L4.81544 3.31839C4.92133 3.22828 5.02609 3.18357 5.125 3.17773Z" fill="url(#map_phone)"/>
                        <defs>
                        <linearGradient id="map_phone" x1="0" y1="8" x2="18.08" y2="8" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FF9A00"/>
                        <stop offset="0.838542" stop-color="#FF4747"/>
                        </linearGradient>
                        </defs>
                    </svg>  
                    <span class="map-contacts__text">
                        8(800) 511 - 71 - 11
                    </span>              
                </a>
                <a href="mailto:zamenaakb@yandex.ru" class="map-contacts__link">
                    <svg class="map-contacts__link-icon" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 0C5.87827 0 3.84344 0.842855 2.34315 2.34315C0.842855 3.84344 0 5.87827 0 8C0 10.1217 0.842855 12.1566 2.34315 13.6569C3.84344 15.1571 5.87827 16 8 16C10.1217 16 12.1566 15.1571 13.6569 13.6569C15.1571 12.1566 16 10.1217 16 8C16 5.87827 15.1571 3.84344 13.6569 2.34315C12.1566 0.842855 10.1217 0 8 0V0ZM4 4H12C12.143 4 12.281 4.031 12.409 4.088L8 9.231L3.591 4.088C3.71943 4.02963 3.85893 3.99961 4 4ZM3 11V5L3.002 4.937L5.934 8.358L3.034 11.258C3.01109 11.1739 2.99966 11.0871 3 11ZM12 12H4C3.912 12 3.825 11.988 3.742 11.966L6.588 9.12L8.001 10.768L9.414 9.12L12.26 11.966C12.1759 11.9889 12.0891 12.0003 12.002 12H12ZM13 11C13 11.088 12.988 11.175 12.966 11.258L10.066 8.358L12.998 4.937L13 5V11Z" fill="url(#map_mail)"/>
                        <defs>
                        <linearGradient id="map_mail" x1="0" y1="8" x2="18.08" y2="8" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FF9A00"/>
                        <stop offset="0.838542" stop-color="#FF4747"/>
                        </linearGradient>
                        </defs>
                    </svg> 
                    <span class="map-contacts__text">
                        zamenaakb@yandex.ru
                    </span>               
                </a>
                <a href="#map" class="map-contacts__link">
                    <svg class="map-contacts__link-icon" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.5 0C4.70101 0 0 4.70101 0 10.5C0 16.299 4.70101 21 10.5 21C16.299 21 21 16.299 21 10.5C21 4.70101 16.299 0 10.5 0ZM10.5 3.55682C13.3907 3.55682 15.7346 5.90072 15.7346 8.79144C15.7346 9.66709 15.4947 10.823 15.0014 11.4767L10.5 17.4432L5.99853 11.4767C5.45552 10.757 5.26536 9.75821 5.26536 8.79148C5.26538 5.90072 7.60926 3.55682 10.5 3.55682ZM10.5 6.58942C9.2837 6.58942 8.29798 7.57514 8.29798 8.79144C8.29798 10.0077 9.2837 10.9935 10.5 10.9935C11.7163 10.9935 12.702 10.0077 12.702 8.79144C12.702 7.57514 11.7163 6.58942 10.5 6.58942Z" fill="url(#map_map)"/>
                        <defs>
                        <linearGradient id="map_map" x1="0" y1="10.5" x2="23.73" y2="10.5" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FF9A00"/>
                        <stop offset="0.838542" stop-color="#FF4747"/>
                        </linearGradient>
                        </defs>
                    </svg>
                    <span class="map-contacts__text">
                        Санкт-Петербург, <br>ул. Придорожная Аллея 16Д
                    </span>   
                </a>
            </div>
        </div>
    </div>

    <button class="btn btn--map map__order open-help">Заказать звонок</button>
    <div class="map__form">
        <form action="#" class="form">
            <h3 class="form__title">
                Нужна помощь?
            </h3>
            <p class="form__text">Наши специалисты с радостью помогут Вам в выборе аккумулятора для автомобиля. А также помогут оформить доставку по Санкт-Петербургу.</p>
            <input name="name" type="text" class="form__input" placeholder="Введите имя">
            <input name="phone" type="tel" class="form__input" placeholder="+7 (___) ___ - __ - __">
            <button class="btn btn--map form__submit" type="submit">Заказать звонок</button>
            <label class="form__check checkbox">
                <span class="checkbox__con">
                    <input class="checkbox__input" type="checkbox" name="privacy">
                    <span class="checkbox__marker">
                        <span class="checkbox__marker-inner"></span>
                    </span>
                </span>
                Я даю свое согласие на обработку персональных данных
            </label>
        </form>
    </div>
    <div class="map__map-con map-con">
        <img src="images/map.jpg" alt="" class="map-con__iframe">
        <!-- <iframe src="" frameborder="0" class="map-con__iframe"></iframe> -->
        <svg class="map-con__square map-con__square--1" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" y="0.5" width="17" height="18" rx="1.5" stroke="url(#map_square1)"/>
            <defs>
            <linearGradient id="map_square1" x1="0" y1="9.5" x2="18" y2="9.5" gradientUnits="userSpaceOnUse">
            <stop stop-color="#F9D423"/>
            <stop offset="1" stop-color="#FF4E50"/>
            </linearGradient>
            </defs>
        </svg>
        <svg class="map-con__square map-con__square--2" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" y="0.5" width="17" height="18" rx="1.5" stroke="url(#map_square2)"/>
            <defs>
            <linearGradient id="map_square2" x1="0" y1="9.5" x2="18" y2="9.5" gradientUnits="userSpaceOnUse">
            <stop stop-color="#F9D423"/>
            <stop offset="1" stop-color="#FF4E50"/>
            </linearGradient>
            </defs>
        </svg>
            
    </div>
</section>