<div class="modal">
    <div class="modal__bg"></div>
    <div class="modal__content">
        <button class="modal__close">
            <svg class="modal__close-icon" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15 15L1 1M1 15L15 1L1 15Z" stroke="#191919" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
        </button>
        <form action="#" class="form form--help">
            <h3 class="form__title">
                Нужна помощь?
            </h3>
            <div class="modal__thanks modal-thanks">
                <svg class="modal-thanks__icon" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M31.9998 0.888916C25.8466 0.888916 19.8316 2.71355 14.7154 6.13208C9.59919 9.55062 5.6116 14.4095 3.25688 20.0943C0.902152 25.7791 0.286048 32.0345 1.48648 38.0695C2.68691 44.1045 5.64995 49.6479 10.0009 53.9989C14.3519 58.3499 19.8954 61.3129 25.9303 62.5133C31.9653 63.7138 38.2207 63.0977 43.9055 60.7429C49.5903 58.3882 54.4492 54.4006 57.8677 49.2844C61.2863 44.1682 63.1109 38.1532 63.1109 32C63.1109 23.7488 59.8331 15.8356 53.9987 10.0012C48.1642 4.16668 40.251 0.888916 31.9998 0.888916ZM52.3192 21.5584L26.7692 47.0889L11.6804 32C11.1647 31.4843 10.8749 30.7849 10.8749 30.0556C10.8749 29.3263 11.1647 28.6268 11.6804 28.1111C12.1961 27.5954 12.8955 27.3057 13.6248 27.3057C14.3541 27.3057 15.0535 27.5954 15.5692 28.1111L26.8081 39.35L48.4692 17.7084C48.7246 17.453 49.0277 17.2505 49.3614 17.1123C49.695 16.9741 50.0526 16.9029 50.4137 16.9029C50.7748 16.9029 51.1324 16.9741 51.466 17.1123C51.7996 17.2505 52.1028 17.453 52.3581 17.7084C52.6135 17.9637 52.816 18.2668 52.9542 18.6005C53.0924 18.9341 53.1635 19.2917 53.1635 19.6528C53.1635 20.0139 53.0924 20.3715 52.9542 20.7051C52.816 21.0388 52.6135 21.3419 52.3581 21.5972L52.3192 21.5584Z" fill="#21BF4F"/>
                </svg>
                <p class="modal-thanks__text">Спасибо! В ближайшее времямы с Вами свяжемся</p>
                    
            </div>
            <div class="modal__inputs">
                <p class="form__text">Наши специалисты с радостью помогут Вам в выборе аккумулятора для автомобиля. А также помогут оформить доставку по Санкт-Петербургу.</p>
                <input name="name" type="text" class="form__input" placeholder="Введите имя">
                <input name="phone" type="tel" class="form__input" placeholder="+7 (___) ___ - __ - __">
                <button class="btn btn--map form__submit" type="submit">Заказать звонок</button>
                <label class="form__check checkbox">
                    <span class="checkbox__con">
                        <input class="checkbox__input" type="checkbox" name="privacy">
                        <span class="checkbox__marker">
                            <span class="checkbox__marker-inner"></span>
                        </span>
                    </span>
                    Я даю свое согласие на обработку персональных данных
                </label>
            </div>
        </form>
        <form action="#" class="form form--order">
            <h2 class="form__title">Оставьте заявку</h2>
            <div class="modal__thanks modal-thanks">
                <svg class="modal-thanks__icon" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M31.9998 0.888916C25.8466 0.888916 19.8316 2.71355 14.7154 6.13208C9.59919 9.55062 5.6116 14.4095 3.25688 20.0943C0.902152 25.7791 0.286048 32.0345 1.48648 38.0695C2.68691 44.1045 5.64995 49.6479 10.0009 53.9989C14.3519 58.3499 19.8954 61.3129 25.9303 62.5133C31.9653 63.7138 38.2207 63.0977 43.9055 60.7429C49.5903 58.3882 54.4492 54.4006 57.8677 49.2844C61.2863 44.1682 63.1109 38.1532 63.1109 32C63.1109 23.7488 59.8331 15.8356 53.9987 10.0012C48.1642 4.16668 40.251 0.888916 31.9998 0.888916ZM52.3192 21.5584L26.7692 47.0889L11.6804 32C11.1647 31.4843 10.8749 30.7849 10.8749 30.0556C10.8749 29.3263 11.1647 28.6268 11.6804 28.1111C12.1961 27.5954 12.8955 27.3057 13.6248 27.3057C14.3541 27.3057 15.0535 27.5954 15.5692 28.1111L26.8081 39.35L48.4692 17.7084C48.7246 17.453 49.0277 17.2505 49.3614 17.1123C49.695 16.9741 50.0526 16.9029 50.4137 16.9029C50.7748 16.9029 51.1324 16.9741 51.466 17.1123C51.7996 17.2505 52.1028 17.453 52.3581 17.7084C52.6135 17.9637 52.816 18.2668 52.9542 18.6005C53.0924 18.9341 53.1635 19.2917 53.1635 19.6528C53.1635 20.0139 53.0924 20.3715 52.9542 20.7051C52.816 21.0388 52.6135 21.3419 52.3581 21.5972L52.3192 21.5584Z" fill="#21BF4F"/>
                </svg>
                <p class="modal-thanks__text">Спасибо! Заявка отправлена</p>
            </div>
            <div class="modal__inputs">
                <input name="name" type="text" class="form__input" placeholder="Введите имя">
                <input name="mail" type="email" class="form__input" placeholder="Введите e-mail">
                <input name="phone" type="tel" class="form__input" placeholder="+7 (___) ___ - __ - __">
                <button class="btn btn--red form__submit" type="submit">Оставить заявку</button>
                <label class="form__check checkbox">
                    <span class="checkbox__con">
                        <input class="checkbox__input" type="checkbox" name="privacy">
                        <span class="checkbox__marker">
                            <span class="checkbox__marker-inner"></span>
                        </span>
                    </span>
                    Я даю свое согласие на обработку персональных данных
                </label>
            </div>
        </form>
    </div>
</div>