<section class="slider slider-before">
    <header class="slider__header slider-header slider-header--popular">
        <h2 class="slider-header__title subtitle">
            Ранее просмотренные товары
        </h2>
        <div class="slider-header__info slider-info">
            <div class="slider-info__counter">
                <span class="slider-info__number slider-info__number--now">2</span>/<span class="slider-info__number">7</span>
            </div>
            <div class="slider-info__btns">
                <button class="slider-info__btn slider-before--prev">
                    <svg class="slider-info__btn-icon" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10 18.75C7.67936 18.75 5.45376 17.8281 3.81282 16.1872C2.17188 14.5462 1.25001 12.3206 1.25001 10C1.25001 7.67936 2.17188 5.45376 3.81282 3.81282C5.45376 2.17187 7.67936 1.25 10 1.25C12.3206 1.25 14.5462 2.17187 16.1872 3.81282C17.8281 5.45376 18.75 7.67936 18.75 10C18.75 12.3206 17.8281 14.5462 16.1872 16.1872C14.5462 17.8281 12.3206 18.75 10 18.75ZM10 0C7.34784 0 4.8043 1.05357 2.92894 2.92893C1.05357 4.8043 5.72205e-06 7.34783 5.72205e-06 10C5.72205e-06 12.6522 1.05357 15.1957 2.92894 17.0711C4.8043 18.9464 7.34784 20 10 20C12.6522 20 15.1957 18.9464 17.0711 17.0711C18.9464 15.1957 20 12.6522 20 10C20 7.34783 18.9464 4.8043 17.0711 2.92893C15.1957 1.05357 12.6522 0 10 0ZM14.375 9.375C14.5408 9.375 14.6997 9.44085 14.8169 9.55806C14.9342 9.67527 15 9.83424 15 10C15 10.1658 14.9342 10.3247 14.8169 10.4419C14.6997 10.5592 14.5408 10.625 14.375 10.625H7.13375L9.8175 13.3075C9.93486 13.4249 10.0008 13.584 10.0008 13.75C10.0008 13.916 9.93486 14.0751 9.8175 14.1925C9.70014 14.3099 9.54097 14.3758 9.375 14.3758C9.20903 14.3758 9.04986 14.3099 8.9325 14.1925L5.1825 10.4425C5.1243 10.3844 5.07812 10.3155 5.04661 10.2395C5.01511 10.1636 4.99889 10.0822 4.99889 10C4.99889 9.91779 5.01511 9.83639 5.04661 9.76046C5.07812 9.68453 5.1243 9.61556 5.1825 9.5575L8.9325 5.8075C9.04986 5.69014 9.20903 5.62421 9.375 5.62421C9.54097 5.62421 9.70014 5.69014 9.8175 5.8075C9.93486 5.92486 10.0008 6.08403 10.0008 6.25C10.0008 6.41597 9.93486 6.57514 9.8175 6.6925L7.13375 9.375H14.375Z"/>
                        <defs>
                            <linearGradient id="paint_btn" x1="12" y1="24" x2="12" y2="-3.12" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#FF9A00"/>
                            <stop offset="0.838542" stop-color="#FF4747"/>
                            </linearGradient>
                            </defs>
                        </svg>         
                </button>
                <button class="slider-info__btn slider-before--next">
                    <svg class="slider-info__btn-icon" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10 18.75C12.3206 18.75 14.5462 17.8281 16.1872 16.1872C17.8281 14.5462 18.75 12.3206 18.75 10C18.75 7.67936 17.8281 5.45376 16.1872 3.81282C14.5462 2.17187 12.3206 1.25 10 1.25C7.67935 1.25 5.45376 2.17187 3.81281 3.81282C2.17187 5.45376 1.25 7.67936 1.25 10C1.25 12.3206 2.17187 14.5462 3.81281 16.1872C5.45376 17.8281 7.67935 18.75 10 18.75ZM10 0C12.6522 0 15.1957 1.05357 17.0711 2.92893C18.9464 4.8043 20 7.34783 20 10C20 12.6522 18.9464 15.1957 17.0711 17.0711C15.1957 18.9464 12.6522 20 10 20C7.34783 20 4.80429 18.9464 2.92893 17.0711C1.05357 15.1957 0 12.6522 0 10C0 7.34783 1.05357 4.8043 2.92893 2.92893C4.80429 1.05357 7.34783 0 10 0ZM5.625 9.375C5.45924 9.375 5.30027 9.44085 5.18306 9.55806C5.06585 9.67527 5 9.83424 5 10C5 10.1658 5.06585 10.3247 5.18306 10.4419C5.30027 10.5592 5.45924 10.625 5.625 10.625H12.8662L10.1825 13.3075C10.0651 13.4249 9.99921 13.584 9.99921 13.75C9.99921 13.916 10.0651 14.0751 10.1825 14.1925C10.2999 14.3099 10.459 14.3758 10.625 14.3758C10.791 14.3758 10.9501 14.3099 11.0675 14.1925L14.8175 10.4425C14.8757 10.3844 14.9219 10.3155 14.9534 10.2395C14.9849 10.1636 15.0011 10.0822 15.0011 10C15.0011 9.91779 14.9849 9.83639 14.9534 9.76046C14.9219 9.68453 14.8757 9.61556 14.8175 9.5575L11.0675 5.8075C10.9501 5.69014 10.791 5.62421 10.625 5.62421C10.459 5.62421 10.2999 5.69014 10.1825 5.8075C10.0651 5.92486 9.99921 6.08403 9.99921 6.25C9.99921 6.41597 10.0651 6.57514 10.1825 6.6925L12.8662 9.375H5.625Z"/>
                        <defs>
                            <linearGradient id="paint_btn" x1="12" y1="24" x2="12" y2="-3.12" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#FF9A00"/>
                            <stop offset="0.838542" stop-color="#FF4747"/>
                            </linearGradient>
                        </defs>
                        </svg>
                </button>
            </div>
        </div>
    </header>
    <div class="slider__list swiper-wrapper">
        <div class="item swiper-slide">
            <a href="item.html"><img src="images/item.jpg" alt="" class="item__pic"></a>
            <p class="item__name"><a href="item.html">Аккумулятор AlphaLINE EFB Start-Stop 65R</a></p>
            <div class="item__prices prices-item">
                <p class="prices-item__now"><span class="price">3800</span> Р</p>
                <p class="prices-item__old">
                    <span class="prices-item__old-val"><span class="old-price">3500</span>Р</span>
                    <span class="prices-item__title">При обмене</span>
                </p>
            </div>
            <button class="btn btn--orange item__btn">
                Купить
            </button>
            <button class="item__one-click">Купить в 1 клик</button>
        </div>
        <div class="item swiper-slide">
            <a href="item.html"><img src="images/item.jpg" alt="" class="item__pic"></a>
            <p class="item__name"><a href="item.html">Аккумулятор AlphaLINE EFB Start-Stop 65R</a></p>
            <div class="item__prices prices-item">
                <p class="prices-item__now"><span class="price">3800</span> Р</p>
                <p class="prices-item__old">
                    <span class="prices-item__old-val"><span class="old-price">3500</span>Р</span>
                    <span class="prices-item__title">При обмене</span>
                </p>
            </div>
            <button class="btn btn--orange item__btn">
                Купить
            </button>
            <button class="item__one-click">Купить в 1 клик</button>
        </div>
        <div class="item swiper-slide">
            <a href="item.html"><img src="images/item.jpg" alt="" class="item__pic"></a>
            <p class="item__name"><a href="item.html">Аккумулятор AlphaLINE EFB Start-Stop 65R</a></p>
            <div class="item__prices prices-item">
                <p class="prices-item__now"><span class="price">3800</span> Р</p>
                <p class="prices-item__old">
                    <span class="prices-item__old-val"><span class="old-price">3500</span>Р</span>
                    <span class="prices-item__title">При обмене</span>
                </p>
            </div>
            <button class="btn btn--orange item__btn">
                Купить
            </button>
            <button class="item__one-click">Купить в 1 клик</button>
        </div>
        <div class="item swiper-slide">
            <a href="item.html"><img src="images/item.jpg" alt="" class="item__pic"></a>
            <p class="item__name"><a href="item.html">Аккумулятор AlphaLINE EFB Start-Stop 65R</a></p>
            <div class="item__prices prices-item">
                <p class="prices-item__now"><span class="price">3800</span> Р</p>
                <p class="prices-item__old">
                    <span class="prices-item__old-val"><span class="old-price">3500</span>Р</span>
                    <span class="prices-item__title">При обмене</span>
                </p>
            </div>
            <button class="btn btn--orange item__btn">
                Купить
            </button>
            <button class="item__one-click">Купить в 1 клик</button>
        </div>
        <div class="item swiper-slide">
            <a href="item.html"><img src="images/item.jpg" alt="" class="item__pic"></a>
            <p class="item__name"><a href="item.html">Аккумулятор AlphaLINE EFB Start-Stop 65R</a></p>
            <div class="item__prices prices-item">
                <p class="prices-item__now"><span class="price">3800</span> Р</p>
                <p class="prices-item__old">
                    <span class="prices-item__old-val"><span class="old-price">3500</span>Р</span>
                    <span class="prices-item__title">При обмене</span>
                </p>
            </div>
            <button class="btn btn--orange item__btn">
                Купить
            </button>
            <button class="item__one-click">Купить в 1 клик</button>
        </div>
        <div class="item swiper-slide">
            <a href="item.html"><img src="images/item.jpg" alt="" class="item__pic"></a>
            <p class="item__name"><a href="item.html">Аккумулятор AlphaLINE EFB Start-Stop 65R</a></p>
            <div class="item__prices prices-item">
                <p class="prices-item__now"><span class="price">3800</span> Р</p>
                <p class="prices-item__old">
                    <span class="prices-item__old-val"><span class="old-price">3500</span>Р</span>
                    <span class="prices-item__title">При обмене</span>
                </p>
            </div>
            <button class="btn btn--orange item__btn">
                Купить
            </button>
            <button class="item__one-click">Купить в 1 клик</button>
        </div>
        <div class="item swiper-slide">
            <a href="item.html"><img src="images/item.jpg" alt="" class="item__pic"></a>
            <p class="item__name"><a href="item.html">Аккумулятор AlphaLINE EFB Start-Stop 65R</a></p>
            <div class="item__prices prices-item">
                <p class="prices-item__now"><span class="price">3800</span> Р</p>
                <p class="prices-item__old">
                    <span class="prices-item__old-val"><span class="old-price">3500</span>Р</span>
                    <span class="prices-item__title">При обмене</span>
                </p>
            </div>
            <button class="btn btn--orange item__btn">
                Купить
            </button>
            <button class="item__one-click">Купить в 1 клик</button>
        </div>
        <div class="item swiper-slide">
            <a href="item.html"><img src="images/item.jpg" alt="" class="item__pic"></a>
            <p class="item__name"><a href="item.html">Аккумулятор AlphaLINE EFB Start-Stop 65R</a></p>
            <div class="item__prices prices-item">
                <p class="prices-item__now"><span class="price">3800</span> Р</p>
                <p class="prices-item__old">
                    <span class="prices-item__old-val"><span class="old-price">3500</span>Р</span>
                    <span class="prices-item__title">При обмене</span>
                </p>
            </div>
            <button class="btn btn--orange item__btn">
                Купить
            </button>
            <button class="item__one-click">Купить в 1 клик</button>
        </div>
        <div class="item swiper-slide">
            <a href="item.html"><img src="images/item.jpg" alt="" class="item__pic"></a>
            <p class="item__name"><a href="item.html">Аккумулятор AlphaLINE EFB Start-Stop 65R</a></p>
            <div class="item__prices prices-item">
                <p class="prices-item__now"><span class="price">3800</span> Р</p>
                <p class="prices-item__old">
                    <span class="prices-item__old-val"><span class="old-price">3500</span>Р</span>
                    <span class="prices-item__title">При обмене</span>
                </p>
            </div>
            <button class="btn btn--orange item__btn">
                Купить
            </button>
            <button class="item__one-click">Купить в 1 клик</button>
        </div>
        <div class="item swiper-slide">
            <a href="item.html"><img src="images/item.jpg" alt="" class="item__pic"></a>
            <p class="item__name"><a href="item.html">Аккумулятор AlphaLINE EFB Start-Stop 65R</a></p>
            <div class="item__prices prices-item">
                <p class="prices-item__now"><span class="price">3800</span> Р</p>
                <p class="prices-item__old">
                    <span class="prices-item__old-val"><span class="old-price">3500</span>Р</span>
                    <span class="prices-item__title">При обмене</span>
                </p>
            </div>
            <button class="btn btn--orange item__btn">
                Купить
            </button>
            <button class="item__one-click">Купить в 1 клик</button>
        </div>
        <div class="item swiper-slide">
            <a href="item.html"><img src="images/item.jpg" alt="" class="item__pic"></a>
            <p class="item__name"><a href="item.html">Аккумулятор AlphaLINE EFB Start-Stop 65R</a></p>
            <div class="item__prices prices-item">
                <p class="prices-item__now"><span class="price">3800</span> Р</p>
                <p class="prices-item__old">
                    <span class="prices-item__old-val"><span class="old-price">3500</span>Р</span>
                    <span class="prices-item__title">При обмене</span>
                </p>
            </div>
            <button class="btn btn--orange item__btn">
                Купить
            </button>
            <button class="item__one-click">Купить в 1 клик</button>
        </div>
        <div class="item swiper-slide">
            <a href="item.html"><img src="images/item.jpg" alt="" class="item__pic"></a>
            <p class="item__name"><a href="item.html">Аккумулятор AlphaLINE EFB Start-Stop 65R</a></p>
            <div class="item__prices prices-item">
                <p class="prices-item__now"><span class="price">3800</span> Р</p>
                <p class="prices-item__old">
                    <span class="prices-item__old-val"><span class="old-price">3500</span>Р</span>
                    <span class="prices-item__title">При обмене</span>
                </p>
            </div>
            <button class="btn btn--orange item__btn">
                Купить
            </button>
            <button class="item__one-click">Купить в 1 клик</button>
        </div>
        <div class="item swiper-slide">
            <a href="item.html"><img src="images/item.jpg" alt="" class="item__pic"></a>
            <p class="item__name"><a href="item.html">Аккумулятор AlphaLINE EFB Start-Stop 65R</a></p>
            <div class="item__prices prices-item">
                <p class="prices-item__now"><span class="price">3800</span> Р</p>
                <p class="prices-item__old">
                    <span class="prices-item__old-val"><span class="old-price">3500</span>Р</span>
                    <span class="prices-item__title">При обмене</span>
                </p>
            </div>
            <button class="btn btn--orange item__btn">
                Купить
            </button>
            <button class="item__one-click">Купить в 1 клик</button>
        </div>
        <div class="item swiper-slide">
            <a href="item.html"><img src="images/item.jpg" alt="" class="item__pic"></a>
            <p class="item__name"><a href="item.html">Аккумулятор AlphaLINE EFB Start-Stop 65R</a></p>
            <div class="item__prices prices-item">
                <p class="prices-item__now"><span class="price">3800</span> Р</p>
                <p class="prices-item__old">
                    <span class="prices-item__old-val"><span class="old-price">3500</span>Р</span>
                    <span class="prices-item__title">При обмене</span>
                </p>
            </div>
            <button class="btn btn--orange item__btn">
                Купить
            </button>
            <button class="item__one-click">Купить в 1 клик</button>
        </div>
        <div class="item swiper-slide">
            <a href="item.html"><img src="images/item.jpg" alt="" class="item__pic"></a>
            <p class="item__name"><a href="item.html">Аккумулятор AlphaLINE EFB Start-Stop 65R</a></p>
            <div class="item__prices prices-item">
                <p class="prices-item__now"><span class="price">3800</span> Р</p>
                <p class="prices-item__old">
                    <span class="prices-item__old-val"><span class="old-price">3500</span>Р</span>
                    <span class="prices-item__title">При обмене</span>
                </p>
            </div>
            <button class="btn btn--orange item__btn">
                Купить
            </button>
            <button class="item__one-click">Купить в 1 клик</button>
        </div>
        <div class="item swiper-slide">
            <a href="item.html"><img src="images/item.jpg" alt="" class="item__pic"></a>
            <p class="item__name"><a href="item.html">Аккумулятор AlphaLINE EFB Start-Stop 65R</a></p>
            <div class="item__prices prices-item">
                <p class="prices-item__now"><span class="price">3800</span> Р</p>
                <p class="prices-item__old">
                    <span class="prices-item__old-val"><span class="old-price">3500</span>Р</span>
                    <span class="prices-item__title">При обмене</span>
                </p>
            </div>
            <button class="btn btn--orange item__btn">
                Купить
            </button>
            <button class="item__one-click">Купить в 1 клик</button>
        </div>
        <div class="item swiper-slide">
            <a href="item.html"><img src="images/item.jpg" alt="" class="item__pic"></a>
            <p class="item__name"><a href="item.html">Аккумулятор AlphaLINE EFB Start-Stop 65R</a></p>
            <div class="item__prices prices-item">
                <p class="prices-item__now"><span class="price">3800</span> Р</p>
                <p class="prices-item__old">
                    <span class="prices-item__old-val"><span class="old-price">3500</span>Р</span>
                    <span class="prices-item__title">При обмене</span>
                </p>
            </div>
            <button class="btn btn--orange item__btn">
                Купить
            </button>
            <button class="item__one-click">Купить в 1 клик</button>
        </div>
    </div>
</section>