.no-found{
    padding: 60px 27px 0;
    @media screen and (min-width: 768px) {
        padding: 35px 0 0;
    }
    @media screen and (min-width: 1024px) {
        padding-top: 100px;
    }
    @media screen and (min-width: 1640px) {
        padding-top: 145px;
    }
    &__content{
        position: relative;
        @media screen and (min-width: 768px) {
            width: 360px;
            margin: 0 auto;
        }
        @media screen and (min-width: 1024px) {
            width: 460px;
        }
        @media screen and (min-width: 1640px) {
            width: 605px;
        }
        
        &::before{
            content: "";
            position: absolute;
            top: -2px;
            left: -2px;
            width: calc(100% + 4px);
            height: calc(100% + 4px);
            background: var(--gradinet);
            border-radius: 15px;
            
        }
    }
    &__text{
        position: relative;
        padding: 20px;
        background: var(--bg-color);
        border-radius: 14px;
        @media screen and (min-width: 768px) {
            padding: 30px;
        }
        @media screen and (min-width: 1024px) {
            padding: 30px 60px
        }
        @media screen and (min-width: 1640px) {
            padding: 40px 40px 70px;
        }
    }
    &__title{
        margin: 0 0 5px;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        line-height: 130%;
        text-transform: uppercase;
        @media screen and (min-width: 768px) {
            margin-bottom: 10px;
            font-size: 22px;
        }
        @media screen and (min-width: 1024px) {
            font-size: 26px;
        }
        @media screen and (min-width: 1640px) {

        }
        &--big{
            position: relative;
            display: block;
            width: fit-content;
            margin: 0 auto;
            font-weight: 600;
            font-size: 120px;
            line-height: 100%;
            @media screen and (min-width: 768px) {
                font-size: 160px;
                margin-bottom: 20px;
            }
            @media screen and (min-width: 1024px) {
                font-size: 200px;
                margin-bottom: 10px;
            }
            @media screen and (min-width: 1640px) {
                font-size: 240px;
                margin-bottom: 20px;
            }


        }
        &--gradient{
            position: relative;
            // background: linear-gradient(90deg, #FF9A00 0%, #FF4747 94.76%);
            background: var(--gradinet);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &--shadow{
            position: absolute;
            top: 0;
            left: 5px;
            color: var(--grey);
            filter: blur(1px)
        }
    }
    &__descr{
        margin: 0 0 10px;
        @extend .text;
        @media screen and (min-width: 768px) {
            margin-bottom: 20px;
        }
    }
    &__link{
        max-width: 180px;
        margin: 0 auto;
        @media screen and (min-width: 1024px) {
            max-width: 215px;
        }
    }
}