.about-us{
    padding: 20px;
    @include cont;
    @media screen and (min-width: 1024px) {
        padding-top: 30px;
        padding-bottom: 10px;
    }
    @media screen and (min-width: 1640px) {
        padding-top: 40px;
        padding-bottom: 0;
    }
    &__title{
        margin-bottom: 25px;
    }
    &__content{
        @media screen and (min-width: 768px) {
            @include flex($wrap: wrap, $just: center);
            row-gap: 25px;
            column-gap: 40px;
        }
        @media screen and (min-width: 1024px) {
            flex-wrap: nowrap;
            column-gap: 15px;
        }
        @media screen and (min-width: 1640px) {
            justify-content: space-between;
        }
        

    }
    &__logo-con{
        margin-bottom: 25px;
        @media screen and (min-width: 768px) {
            flex-basis: 300px;
            margin-bottom: 0;
        }
        @media screen and (min-width: 1024px) {
            flex-basis: 395px;
        }
        @media screen and (min-width: 1640px) {
            flex-basis: 610px;
        }
        
    }
    &__numbers{
        margin-bottom: 10px;
        @media screen and (min-width: 768px) {
            flex-basis: 340px;
            margin-bottom: 0;
        }
    }
    &__text{
        @media screen and (min-width: 1024px) {
            flex-basis: 470px;
        }
        @media screen and (min-width: 1640px) {
            flex-basis: 600px;
        }
        
    }
}
.about-logo{
    position: relative;
    @media screen and (min-width: 1640px) {
        padding: 30px;
    }
    &__con{
        position: relative;
        z-index: 1;
        @include flex($dir: column, $just: center, $align: center);
        height: 135px;
        border-radius: 10px;
        background-color: var(--white);
        @media screen and (min-width: 768px) {
            height: 160px;
        }
        @media screen and (min-width: 1024px) {
            height: 215px;
        }
        @media screen and (min-width: 1640px) {
            height: 300px;
        }
    }
    &__pic{
        width: 150px;
        @media screen and (min-width: 768px) {
            width: 180px;
        }
        @media screen and (min-width: 1640px) {
            width: 335px;
        }
    }
    &__name{
        margin: 5px 0 0;
        font-weight: 600;
        font-size: 10px;
        line-height: 14px;
        color: var(--black);
        opacity: 0.6;
        @media screen and (min-width: 1640px) {
            margin-top: 10px;
            font-size: 12px;
        }
    }
    &__square{
        position: absolute;
        z-index: 0;
        width: 36px;
        @media screen and (min-width: 1640px) {
            width: 80px;
        }
        &--1{
            top: -15px;
            right: -15px;
            @media screen and (min-width: 1640px) {
                top: -0px;
                right: -0px;

            }
        }
        &--2{
            bottom: -15px;
            left: -15px;
            @media screen and (min-width: 1640px) {
                bottom: 0px;
                left: 0px;
            }
        }
    }
}
.numbers{
    @include flex($align: flex-start);
    column-gap: 10px;
    @media screen and (min-width: 1024px) {
        display: block;
        flex-basis: 215px;
    }
    &__one{
        @media screen and (min-width: 1024px) {
            @include flex($just: center);
            width: 100%;
            margin: 0 auto;
            column-gap: 30px;
        }
        @media screen and (min-width: 1640px) {
            justify-content: flex-end;
        }
        & + &{
            @media screen and (min-width: 1024px) {
                margin-top: 30px;
            }

        }
        
    }
    &__title{
        position: relative;
        margin: 0 0 10px;
        font-weight: bold;
        font-size: 22px;
        line-height: 130%;
        text-align: center;
        @media screen and (min-width: 1024px) {
            margin: 0;
            flex: 30% 1 0;
            text-align: end;
            font-size: 26px;
            // margin-right: 30px;
        }
        @media screen and (min-width: 1640px) {
            font-size: 28px;
        }
        &::after{
            content: "";
            position: absolute;
            bottom: -6px;
            left: 0;
            width: 100%;
            height: 2px;
            background: var(--gradinet);
            @media screen and (min-width: 1024px) {
                top: 0;
                bottom: unset;
                left: unset;
                right: -15px;
                width: 1px;
                height: 100%;
                background: linear-gradient(180deg, #FF9A00 0%, #FF4747 94.76%);
            }
        }
    }
    &__text{
        margin: 0;
        font-size: 12px;
        line-height: 130%;
        text-align: center;
        @media screen and (min-width: 1024px) {
            text-align: start;
            max-width: 110px;
            flex-basis: 50%;
            font-size: 14px;
        }
        @media screen and (min-width: 1640px) {
            flex-basis: 125px;
            font-size: 16px;
        }
        
    }
}
.about-text{
    &__content{
        margin: 0;
        font-size: 12px;
        line-height: 130%;
        @media screen and (min-width: 1024px) {
            font-size: 14px;
        }
        @media screen and (min-width: 1640px) {
            font-size: 16px;
        }
        & + &{
            margin-top: 5px;
            @media screen and (min-width: 1640px) {
                margin-top: 10px;
            }

        }
    }
}