.about-page{
    padding-bottom: 20px;
    @include cont;
    @media screen and (min-width: 768px) {
        padding-bottom: 0;
    }
    &__info{
        padding: 20px;
        background-color: var(--white);
        border-radius: 10px;
        @media screen and (min-width: 1024px) {
            padding: 30px 60px;
        }
        @media screen and (min-width: 1640px) {
            padding: 40px;
        }

    }
    &__content{
        @media screen and (min-width: 768px) {
            @include flex($dir: row-reverse);
            column-gap: 20px;
        }
        @media screen and (min-width: 1024px) {
            align-items: flex-start;
            justify-content: space-between;
        }
    }
    &__pic{
        width: 100%;
        border-radius: 10px;
        @media screen and (min-width: 768px) {
            flex-shrink: 0;
            width: 195px;
        }
        @media screen and (min-width: 1024px) {
            width: 255px;
        }
        @media screen and (min-width: 1640px) {
            width: 360px;
        }
    }
    &__text{
        margin-top: 10px;
        @media screen and (min-width: 768px) {
            margin-top: 0;
        }
    }
    &__links-con{
        margin-top: 20px;
        @media screen and (min-width: 768px) {
            @include flex($just: center);
            column-gap: 10px;
        }
        @media screen and (min-width: 1024px) {
            margin-top: 30px;
        }
        @media screen and (min-width: 1640px) {
            margin-top: 15px;
            column-gap: 15px;
        }
    }
    &__link{
        @media screen and (min-width: 768px) {
            width: 140px;
        }
        @media screen and (min-width: 1024px) {
            width: 160px;
        }
        @media screen and (min-width: 1200px) {
            padding: 5px;
        }
        @media screen and (min-width: 1640px) {
            width: 200px;
        }

        & + &{
            @media screen and (max-width: 767px) {
                margin-top: 10px;
            }
        }
    }
}
.about-content{
    &__title{
        margin: 0 0 10px;
        @extend .subtitle;
        @media screen and (min-width: 1024px) {
            max-width: 370px;
        }
        @media screen and (min-width: 1640px) {
            max-width: unset;
            margin-bottom: 20px;
        }
    }
    &__text-con{
        @media screen and (min-width: 1640px) {
            max-width: 1120px;
            @include flex($dir: column, $wrap: wrap);
            align-items: flex-start;
            justify-content: flex-start;
            max-height: 300px;
            column-gap: 40px;
            row-gap: 10px;
        }
    }
    &__text{
        @extend .text;
        @media screen and (min-width: 1024px) {
            max-width: 430px;
        }
        @media screen and (min-width: 1640px) {
            max-width: unset;
            width: 50%;
        }
        & + &{
            margin-top: 5px;
            @media screen and (min-width: 1640px) {
                margin-top: 0px;
            }

        }
        &--large{
            @media screen and (max-width: 1639px) {
                display: none;
            }
        }
    }
    
}