.brands{
    padding: 20px;
    @include cont;
    @media screen and (min-width: 1200px) {
        padding-top: 30px;
        padding-bottom: 0px;
    }
    @media screen and (min-width: 1640px) {
        padding-top: 40px;
    }
    &__title{
        margin-bottom: 10px;
        @media screen and (min-width: 1640px) {
            margin-bottom: 15px;
        }
    }
    &__list{
        @include flex($wrap: wrap, $just: space-between);
        row-gap: 10px;
        column-gap: 10px;
        @media screen and (min-width: 768px) {
            justify-content: flex-start;
            row-gap: 20px;
            column-gap: 20px;
        }
        @media screen and (min-width: 1024px) {
            column-gap: 10px;
            row-gap: 10px;
        }
        @media screen and (min-width: 1640px) {
            column-gap: 20px;
            row-gap: 20px;
        }
    }
    &__one{
        flex: calc((100% - 20px) / 3) 0 0;
        @media screen and (min-width: 768px) {
            flex-basis: calc((100% - 100px) / 6);
        }
        @media screen and (min-width: 1024px) {
            flex-basis: calc((100% - 60px) / 7);
        }
        @media screen and (min-width: 1640px) {
            // flex-basis: 211px;
            flex-basis: calc((100% - 120px) / 7);
        }
        
    }
}
.one-brand{
    background-color: var(--white);
    border-radius: 5px;
    overflow: hidden;
    &__pic{
        display: block;
        width: 100%;
        max-height: 35px;
        object-fit: contain;
        @media screen and (min-width: 768px) {
            max-height: 40px;
        }
        @media screen and (min-width: 1024px) {
            max-height: 53px;
        }
        @media screen and (min-width: 1640px) {
            max-height: 71px;
        }

    }
}