.bread{
    @include flex($wrap: wrap);
    padding: 5px 20px 10px;
    @include cont;
    @media screen and (min-width: 1200px){
        padding-top: 10px;
        padding-bottom: 5px;
    }
    @media screen and (min-width: 1640px){
        padding-bottom: 15px;

    }
    &__item{
        font-size: 10px;
        line-height: 14px;
        color: var(--black);
        text-decoration: none;
        @media screen and (min-width: 1640px){
            font-size: 12px;
        }
        & + &{
            position: relative;
            margin-left: 15px;
            &::before{
                content: ">";
                position: absolute;
                top: 0;
                left: -10px;
                font-size: 10px;
                line-height: 14px;
                color: var(--black);
            }
        }
        
    }
}