.btn{
    display: block;
    width: 100%;
    padding: 5px 20px;
    background-color: transparent;
    border-radius: 3px;
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    border: 1px solid currentColor;
    text-align: center;
    text-decoration: none;
    @include trans;
    @media screen and (min-width: 1200px) {
        font-size: 14px;
        padding: 10px;
        border-radius: 5px;
    }
    &--red{
        color: var(--white);
        border-color: var(--red);
        background-color: var(--red);
        @media screen and (min-width: 1200px) {
            font-size: 14px;
            padding: 5px;
        }
        &:hover{
            background-color: var(--orange);
            border-color: var(--orange);
        }
    }
    &--switch{
        padding: 5px;
        font-size: 10px;
        line-height: 14px;
        color: var(--grey);
        word-wrap: revert;
        border: 1px solid var(--grey);
        @include trans;
        @media screen and (min-width: 1200px) {
            font-size: 12px;
            line-height: 16px;
        }
        &-active, &:hover{
            border-color: var(--orange);
            color: var(--orange);
        }
        &:active{
            border-color: var(--red);
            color: var(--red);
        }
    }
    &--orange{
        background-color: var(--orange);
        color: var(--white);
        border-radius: 5px;
        &:hover{
            box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.16);
        }
        &:active{
            background: var(--red);
            box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.16);
        }
    }
    &--map{
        color: var(--white);
        background: linear-gradient(90deg, #FF9A00 0%, #FF4747 50%, #FF9A00 100%);
        background-position: left center;
        background-size: 200%;
        &:hover{
            background-position: right center;
        }
    }
    &--black-line{
        border: 1px solid var(--black);
        color: var(--black);
        &:hover{
            border-color: var(--orange);
            color: var(--orange);
        }
        &:active{
            border-color: var(--red);
            color: var(--red);

        }
    }
    &--red-line{
        border: 1px solid var(--red);
        color: var(--red);
        &:hover{
            border-color: var(--orange);
            color: var(--orange);
        }
    }
    &--filter{
        @media screen and (min-width: 1200px) {
            padding: 5px;
            font-size: 12px;
        }

    }
}