.cart-page{
    padding: 0 20px;
    @include cont;
    @media screen and (min-width: 768px) {
        @include flex($dir: row-reverse, $align: flex-start);
        column-gap: 20px;
    }
    @media screen and (min-width: 1024px) {
        column-gap: 30px;
    }
    &__order{
        @media screen and (max-width: 767px) {
            margin-bottom: 10px;
        }
        @media screen and (min-width: 768px) {
            flex-basis: 216px;
            flex-shrink: 0;
        }
        @media screen and (min-width: 1024px) {
            padding: 30px;
            flex-basis: 275px;
        }
        @media screen and (min-width: 1640px) {
            padding: 40px;
            flex-basis: 377px;
        }
    }
    &__list{
        @media screen and (min-width: 1024px) {
            flex-grow: 1;
        }
    }
    &__price{
        margin-bottom: 10px;
    }
    &__check{
        & + &{
            margin-top: 5px;
            margin-bottom: 10px;
            @media screen and (min-width: 1640px) {
                margin-top: 10px;
                margin-bottom: 20px;
            }

        }
    }
}
.order-form{
    
    &__title{
        margin-bottom: 20px;
        @extend .block-title;
        text-align: center;
    }
}
.cart-price{
    @include flex($just: space-between);
    &__text{
        font-weight: 600;
        font-size: 10px;
        line-height: 130%;
        color: var(--grey);
        @media screen and (min-width: 1024px) {
            font-size: 14px;
        }
        @media screen and (min-width: 1640px) {
            font-size: 16px;
        }
    }
    &__full{
        @extend .subtitle;   
    }
}
.cart-items{
    &__one{
        & + &{
            margin-top: 10px;
        }
    }
}
.cart-item{
    position: relative;
    @include flex($wrap: wrap, $just: space-between,$align: center);
    padding: 10px;
    border-radius: 10px;
    background: var(--white);
    @media screen and (min-width: 768px) {
        align-items: flex-start;
        padding-right: 50px;
        padding-bottom: 20px;
    }
    @media screen and (min-width: 1024px) {
        padding: 3px 20px;
        align-items: center;
        flex-wrap: nowrap;
    }
    @media screen and (min-width: 1640px) {
        padding: 20px 40px;

    }
    &__remove{
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 0;
        border: none;
        background: transparent;
        &-icon{
            width: 16px;
            @media screen and (min-width: 1024px) {
                width: 20px;
            }
            @media screen and (min-width: 1640px) {
                width: 24px;
            }
        }
        @media screen and (min-width: 1024px) {
            position: static;
            order: 1;
        }
    }
    &__info{
        @include flex($align: flex-start);
        flex-basis: 100%;
        @media screen and (min-width: 768px) {
            flex-basis: 275px;
        }
        @media screen and (min-width: 1024px) {
            flex-basis: unset;
            align-items: center;
        }
    }
    &__pic{
        width: 50px;
        margin-right: 10px;
        @media screen and (min-width: 768px) {
            width: 65px;
        }
        @media screen and (min-width: 1024px) {
            width: 90px;
            margin-right: 20px;
        }
        @media screen and (min-width: 1640px) {
            width: 110px;
            margin-right: 20px;
        }
    }
    &__name{
        @extend .text;
        @extend .text--bold;
        max-width: 160px;
        @media screen and (min-width: 768px) {
            max-width: 200px;
        }
        @media screen and (min-width: 1024px) {
            max-width: unset;
        }
        @media screen and (min-width: 1640px) {
            font-size: 16px;
            
        }
    }
    &__descr-con{
        @media screen and (min-width: 1024px) {
            max-width: 275px;
        }
        @media screen and (min-width: 1640px) {
            max-width: unset;
        }
        
    }
    &__descr{
        margin-top: 5px;
        @extend .text;
        @extend .text--small;
        color: var(--grey);
        @media screen and (max-width: 767px) {
            display: none;
        }
    }
    &__quant{
        flex-basis: 105px;
        .quant__number{
            border-color: var(--orange);
        }
        @media screen and (min-width: 768px) {
            order: 1;
            margin-top: -10px;
            margin-left: 75px;
        }
        @media screen and (min-width: 1024px) {
            margin: 0;
            order: unset;
        }
    }
    &__price{
        flex-basis: 80px;
        @media screen and (min-width: 768px) {
            flex-basis: 76px;
        }
        @media screen and (min-width: 1024px) {
            flex-basis: 200px;
        }
        .item-price__actuall{
            
        }
    }
}
.item-price{
    &__actuall{
        display: block;
        font-weight: bold;
        font-size: 18px;
        line-height: 130%;
        @media screen and (min-width: 768px) {
            font-size: 22px;
        }
        @media screen and (min-width: 1024px) {
            font-size: 26px;
        }
        @media screen and (min-width: 1640px) {
            font-size: 28px;
        }

    }
    &__old{
        display: block;
        font-weight: bold;
        font-size: 14px;
        line-height: 130%;
        color: var(--grey);
        @media screen and (min-width: 768px) {
            font-size: 18px;
        }
        @media screen and (min-width: 1200px) {
            font-size: 22px;
        }
        @media screen and (min-width: 1640px) {
            font-size: 24px;
        }
    }
    &__swap{
        display: block;
        font-size: 10px;
        line-height: 130%;
        color: var(--grey);
        &--all{
            @media screen and (max-width: 767px) {
                display: none;
            }
        }
        @media screen and (min-width: 768px) {
            font-size: 12px;
        }
        @media screen and (min-width: 1200px) {
            font-size: 14px;
        }
        @media screen and (min-width: 1640px) {
            font-size: 16px;
        }

    }
}