.catalog{
    @include flex($wrap: wrap);
    padding: 20px 20px 0;
    @include cont;
    column-gap: 10px;
    row-gap: 10px;
    @media screen and (min-width: 768px) {
        column-gap: 20px;
        row-gap: 20px;   
    }
    @media screen and (min-width: 1640px) {
        column-gap: 30px;
        row-gap: 30px;   
    }
    
    &__more{
        flex-basis: 100%;
        padding: 20px 0 10px;
        &-btn{
            @include flex($just: center);
            column-gap: 5px;
            width: fit-content;
            margin: 0 auto;
            padding: 0;
            font-weight: 600;
            font-size: 12px;
            line-height: 130%;
            border: none;
            background-color: transparent;
        }
    }
    .item{
        width: calc((100% - 10px) / 2);
        @media screen and (min-width: 768px) {
            width: calc((100% - 40px) / 3);
        }
        @media screen and (min-width: 1024px) {
            width: calc((100% - 100px) / 6);
        }
        @media screen and (min-width: 1640px) {
            // flex-basis: 211px;
            width: calc((100% - 150px) / 6);
        }
        // width: calc(50% - 5px);
        // @media screen and (min-width: 768px) {
        //     width: calc(33% - 12px);
        // }
        // @media screen and (min-width: 1024px) {
        //     width: calc(20% - 16px);
        // }
        // @media screen and (min-width: 1200px) {
        //     width: calc(16.6% - 16px);
        // }
        // @media screen and (min-width: 1640px) {
        //     width: calc(16.6% - 24px);
        // }

    }
}