.contacts-page{
    padding: 0 20px 26px;
    @include cont;
    @media screen and (min-width: 768px) {
        @include flex($wrap: wrap);
        column-gap: 20px;
        row-gap: 20px;
    }
    @media screen and (min-width: 1640px) {
        column-gap: 30px;
    }
    &__contacts{
        @media screen and (min-width: 768px) {
            flex-basis: 215px;
        }
        @media screen and (min-width: 1200px) {
            flex-basis: 323px;
            order: 1;
        }
        @media screen and (min-width: 1640px) {
            flex-basis: 470px;
        }
    }
    &__title{
        margin: 0 0 10px;
        @extend .subtitle;
    }
    &__order-btn{
        margin-top: 10px;
        @media screen and (min-width: 768px) {
            display: none;
        }
    }
    &__pics{
        min-width: 0;
        margin-top: 20px;
        @media screen and (min-width: 768px) {
            margin-top: 0;
            flex-basis: 447px;
        }
        @media screen and (min-width: 1200px) {
            order: 2;
            flex-basis: 472px;
            margin-left: auto;
        }
        @media screen and (min-width: 1640px) {
            flex-basis: 650px;
        }

    }
    &__pics-list{
        min-width: 0;
        @media screen and (min-width: 768px) {
            @include flex();
            column-gap: 15px;
        }
        @media screen and (min-width: 1200px) {
            column-gap: 20px;
        }

    }
    &__prev{
        display: block;
        border-radius: 10px;
        @media screen and (min-width: 1640px) {
            width: 310px;
        }
    }
    &__map-con{
        margin-top: 29px;
        @media screen and (min-width: 768px) {
            margin: 10px;
            flex-basis: 430px;
        }
        @media screen and (min-width: 1200px) {
            margin-top: -50px;
            flex-basis: 830px;
            order: 4;
        }
        @media screen and (min-width: 1640px) {
            flex-basis: 1164px;
            margin-top: -29px;
        }

    }
    &__slider{
        padding: 0;
        .slider-header__info{
            margin-left: auto;
            @media screen and (min-width: 767px) {
                display: none;
            }
        }
    }
    &__form{
        flex-basis: 215px;
        @media screen and (max-width: 767px) {
            display: none;
        }
        @media screen and (min-width: 1200px) {
            flex-basis: 275px;
            order: 3;
        }
        @media screen and (min-width: 1640px) {
            flex-basis: 377px;
        }
    }
}