.delivery-page{
    padding: 0 20px 20px;
    @include cont;
    @media screen and (min-width: 768px) {
        padding-bottom: 0;
    }
    &__info{
        padding: 20px;
        background-color: var(--white);
        border-radius: 10px;
        @media screen and (min-width: 1024px) {
            padding: 30px;
        }
        @media screen and (min-width: 1640px) {
            padding: 30px 40px;
        }

    }
    &__content{
        @media screen and (min-width: 768px) {
            @include flex($dir: row-reverse, $align: flex-start);
            column-gap: 20px;
        }
        @media screen and (min-width: 1024px) {
            align-items: flex-start;
            justify-content: space-between;
            column-gap: 40px;
        }
    }
    &__pic{
        width: 100%;
        border-radius: 10px;
        @media screen and (min-width: 768px) {
            flex-shrink: 0;
            width: 315px;
        }
        @media screen and (min-width: 1024px) {
            width: 340px;
        }
        @media screen and (min-width: 1640px) {
            width: 470px;
        }
    }
    &__text{
        margin-top: 10px;
        @media screen and (min-width: 768px) {
            margin-top: 0;
        }
    }
}
.delivery-content{
    &__title{
        margin: 0 0 10px;
        @extend .subtitle;
        @media screen and (min-width: 1024px) {
            max-width: 510px;
        }
        @media screen and (min-width: 1640px) {
            max-width: unset;
            margin-bottom: 20px;
        }
    }
    &__subtitle{
        margin: 20px 0 10px;
        @include flex();
        @extend .block-title;
        @media screen and (min-width: 768px) {
            margin-bottom: 0;
        }
        @media screen and (min-width: 1640px) {
            margin: 40px 0 20px;

        }
        &-icon{
            margin-left: 5px;
            width: 16px;
        }

    }
    &__text-con{
        @media screen and (min-width: 1640px) {
            max-width: 1120px;
            @include flex($dir: column, $wrap: wrap);
            align-items: flex-start;
            justify-content: flex-start;
            max-height: 300px;
            column-gap: 40px;
            row-gap: 10px;
        }
    }
    &__text{
        @extend .text;
        @media screen and (min-width: 1024px) {
            max-width: 540px;
        }
        @media screen and (min-width: 1640px) {
            max-width: unset;
            width: 50%;
        }
        & + &{
            margin-top: 5px;
            @media screen and (min-width: 1640px) {
                margin-top: 0px;
            }

        }
        &--large{
            @media screen and (max-width: 1639px) {
                display: none;
            }
        }
    }
    &__list{
        margin: 5px 0 0;
        padding: 0;
        list-style: none;
        @media screen and (min-width: 768px) {
            margin-top: 10px;
        }
    }
    &__item{
        position: relative;
        padding-left: 20px;
        @extend .text;
        @extend .text--bold;
        &::before{
            content: "";
            position: absolute;
            left: 8px;
            top: 6px;
            width: 3px;
            height: 3px;
            background: var(--black);
            border-radius: 50%;
            @media screen and (min-width: 1024px) {
                top: 7px;
            }
            @media screen and (min-width: 1640px) {
                top: 9px;
            }

        }
    }
    
}