.filter{
    position: relative;
    padding: 0 20px 20px;
    @include cont;
    @media screen and (min-width: 768px) {
        padding-bottom: 0;
    }
    &__title{
        margin: 0 0 20px;
        font-weight: 600;
        font-size: 18px;
        line-height: 130%;
        text-align: center;
        @media screen and (min-width: 768px) {
            display: none;
        }
    }
    &__close{
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 0;
        background: transparent;
        border: none;
        &-icon{
            width: 16px;
        }
        @media screen and (min-width: 767px) {
            display: none;
        }
    }
    &__con{
        @include trans;
        transform-origin: top center;
        @media screen and (max-width: 767px) {
            position: absolute;
            top: -1px;
            left: 20px;
            right: 20px;
            z-index: 10;
            background: var(--white);
            border-radius: 5px;
            max-height: 0;
            transform: scaleY(0);
            visibility: hidden;
        }
        &--open{
            @media screen and (max-width: 767px) {
                padding: 20px 0;
                max-height: 999px;
                transform: scaleY(1);
                visibility: visible;
            }
        }
    }
    &__item{
        padding: 10px 20px;
        @media screen and (max-width: 767px) {
            &:first-child{
                border-top: 1px solid rgba($color: #828282, $alpha: 0.1);
            }
        }
        & + &{
            @media screen and (max-width: 767px) {
                border-top: 1px solid rgba($color: #828282, $alpha: 0.1);
            }
        }
        @media screen and (min-width: 768px) {
            padding: 0;
        }
        &--parametrs{
            @media screen and (min-width: 768px) {
                @include flex();
                column-gap: 20px;
            }
        }
        @media screen and (min-width: 768px) {
            &--type{
                order: 2;
            }
            &--polarity{
                order: 2;
            }
            &--capacity{
                order: 3;
            }
            &--start{
                order: 4;
            }
            &--size{
                order: 5;
            }
            &--price{
                order: 6;
            }
            &--brand{
                order: 7;
            }
            &--sort{
                order: 8;
            }
            &--sale{
                order: 9;
            }
        }
        

    }
    &__btns{
        @include flex();
        column-gap: 10px;
        padding: 10px 20px 0;
        @media screen and (min-width: 768px) {
            padding: 0;
            flex-basis: 100%;
            justify-content: flex-end;
            order: 10;
            .btn{
                width: 110px;
            }
        }
        &--mobile{
            padding: 0;
            @media screen and (min-width: 768px) {
                display: none;
            }
            
        }
    }
    &__list{
        @media screen and (min-width: 768px) {
            @include flex($wrap: wrap);
            column-gap: 20px;
            row-gap: 10px;
        }
        @media screen and (min-width: 1200px) {
            // column-gap: 30px;
        }

    }
}
.one-filter{
    @include flex();
    column-gap: 5px;
    &--type{
        display: block;
        @media screen and (min-width: 768px) {
            @include flex($wrap: wrap);
            column-gap: 5px;
        }  
    }
    &--sale{
        @media screen and (max-width: 767px) {
            margin-top: 10px;
        }
    }
    &__name{
        margin: 0;
        font-weight: 600;
        font-size: 10px;
        line-height: 130%;
        &--type{
            @media screen and (max-width: 767px) {
                display: none;
            }
        }
        @media screen and (min-width: 1200px) {
            font-size: 12px;
            line-height: 16px;
        }
        @media screen and (min-width: 1640px) {
            font-size: 14px;
            line-height: 19px;
        }
        
    }
    &__radio-con{}
    & + &{
        @media screen and (max-width: 767px) {
            // margin-top: 10px;
        }
    }
    &__sep{
        font-size: 12px;
        line-height: 16px;
    }
}
.filter-check{
    cursor: pointer;
    & + &{
        @media screen and (max-width: 767px) { 
            margin-top: 10px;
        }
    }
    &__label{
        position: relative;
    }
    &__check{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
        &:focus+ .filter-check__name{
            @media screen and (max-width: 767px) {   
                outline: 1px solid var(--orange);
            }
            @media screen and (min-width: 768px) {
                border-color: var(--black);
            }
            
        }
        &:checked + .filter-check__name{
            @media screen and (max-width: 767px) {
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='16' rx='8' fill='url(%23paint0_linear_0_1)'/%3E%3Crect x='4' y='4' width='8' height='8' rx='4' fill='%23FEFEFE'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_0_1' x1='0' y1='8' x2='18.08' y2='8' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FF9A00'/%3E%3Cstop offset='0.838542' stop-color='%23FF4747'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
            }
            @media screen and (min-width: 768px) {
                color: var(--orange);
                border-color: var(--orange);
            }
            
        }
    }
    &__name{
        @include flex($just: space-between);
        font-weight: 600;
        font-size: 10px;
        line-height: 130%;
        @media screen and (max-width: 767px) { 
            height: 16px;  
            background-repeat: no-repeat;
            background-size: 16px;
            background-position: center right;
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='15' height='15' rx='7.5' stroke='%23828282' stroke-opacity='0.2'/%3E%3C/svg%3E%0A");
        }
        @media screen and (min-width: 768px) {
            width: fit-content;
            padding: 5px;
            color: var(--grey);
            border: 1px solid var(--grey);
            border-radius: 3px;
        }
        @media screen and (min-width: 1200px) {
            font-size: 12px;
            line-height: 16px;
        }
        @media screen and (min-width: 1640px) {
            font-size: 14px;
            line-height: 19px;
        }


    }
}
.filter-radio{
    position: relative;
    cursor: pointer;
    &__radio{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 5;
        &:focus + .filter-radio__name{
            border-color: var(--black);
        }
        &:checked + .filter-radio__name{
            color: var(--orange);
            border-color: var(--orange);
        }
    }
    &__name{
        display: block;
        width: fit-content;
        padding: 5px;
        font-size: 10px;
        line-height: 14px;
        color: var(--grey);
        border: 1px solid var(--grey);
        border-radius: 3px;
        @media screen and (min-width: 1200px) {
            font-size: 12px;
            line-height: 16px;
        }
        @media screen and (min-width: 1640px) {
            font-size: 14px;
            line-height: 19px;
        }

    }
}
.select {
    position: relative;
    width: 160px;
    margin: 0;
    padding : 0;
    list-style : none;
    border: none;
    @media screen and (min-width: 1200px){
        width: 190px;
        font-size: 12px;
        line-height: 16px;
    }
    & *{
        outline: none;
    }
    &__list{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: var(--bg-color);
        z-index: 10;
    }
    &__list-item{
        position: relative;
        margin-top: -1px;
        padding: 5px;
        font-size: 10px;
        line-height: 14px;
        border: 1px solid var(--grey);
        cursor: pointer;
        &:hover {
            z-index: 5;
            border-color : var(--orange);
        }
        &:active{
            border-color : var(--orange);
            color: var(--orange);

        }
        &.current {
            color : var(--orange);
        }
        @media screen and (min-width: 1200px){
            font-size: 12px;
            line-height: 19px;
        }
    }
    &__search{
        width: 100%;
        padding: 5px;
        font-size: 10px;
        line-height: 14px;
        color: var(--grey);
        border: 1px solid var(--grey);
        border-radius: 3px;
        background-color: transparent;
        cursor: pointer;
        &::placeholder{
            text-align: start;
        }
        &:focus{
            border-color: var(--orange);
            color: var(--black);
        }
        @media screen and (min-width: 1200px){
            font-size: 12px;
        }
    }
    &__toggle:after {
        content:"";
        position: absolute;
        top: 50%;
        right: 7px;
        transform: translate(0, -50%);
        width: 11px;
        height: 7px;
        background-size: 100% auto;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.9999 0.3L5.9999 4.3L9.9999 0.3L11.5999 1.1L5.9999 6.7L0.399902 1.1L1.9999 0.3Z' fill='%23828282'/%3E%3C/svg%3E%0A");
    }
    [data-toggle="false"] {
        display: none;
    }
    [data-toggle="true"] {
      display: block;
    }
    
    li[data-display="false"] { display : none }
    
    li[data-display="true"] { display : inherit }
    
  }