.first{
    padding: 10px 20px 0;
    @include cont;
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
        @include flex($just: space-between);
    }
    @media screen and (min-width: 1024px) {
        align-items: stretch;
    }
    &__info{
        @media screen and (min-width: 768px) {
            flex: 450px 1 0;
            margin-right: 20px;
        }
    }
    &__form-con{
        // display: none;
        @media screen and (max-width: 767px) {
            margin-top: 10px;
        }
        @media screen and (min-width: 768px) {
            flex: 215px 0 0;
        }
        @media screen and (min-width: 1200px) {
            flex-basis: 275px;
        }
        @media screen and (min-width: 1640px) {
            flex-basis: 375px;
        }
    }
    &__form{
        display: none;
        @media screen and (min-width: 768px) {
            display: block;
        }

    }
    &__mobile-btn{
        @media screen and (min-width: 768px) {
            display: none;
        }
    }
}
.first-info{
    min-width: 0;
    padding: 10px 10px 20px;
    border-radius: 10px;
    background-color: var(--red);
    @media screen and (min-width: 768px) {
        @include flex($align: flex-start);
        padding: 20px;
    }
    @media screen and (min-width: 1024px) {
        justify-content: space-between;
    }
    @media screen and (min-width: 1200px) {
        padding: 30px 20px;
    }
    @media screen and (min-width: 1640px) {
        padding: 40px;
    }
    &__descr{
        @media screen and (max-width: 767px) {
            margin-bottom: 10px;
        }
        @media screen and (min-width: 768px) {
            margin-right: 20px;
        }
        @media screen and (min-width: 1024px) {
            margin-right: 10px;
        }
        @media screen and (min-width: 1200px) {
            flex-basis: 266px;
        }
        @media screen and (min-width: 1640px) {
            flex-basis: 287px;
            margin-right: 40px;
        }
    }
    &__text{
        margin: 0 0 10px;
        font-size: 12px;
        line-height: 130%;
        color: var(--white);
        @media screen and (min-width: 768px) {
            max-width: 195px;
        }
        @media screen and (min-width: 1200px) {
            max-width: 225px;
            margin-bottom: 20px;
            font-size: 14px;
            line-height: 130%;
        }
        @media screen and (min-width: 1200px) {
            max-width: 295px;
            font-size: 16px;
        }
        @media screen and (min-width: 1640px) {
            margin-bottom: 40px;

        }
    }
}
.timer{
    padding: 5px 0;
    background-color: var(--lightred);
    border-radius: 5px;
    @media screen and (min-width: 768px) {
        width: fit-content;
        padding: 5px;
    }
    @media screen and (min-width: 1200px) {
        padding: 5px 25px;
    }
    &__con{
        width: fit-content;
        margin: 0 auto;
        font-weight: bold;
        font-size: 30px;
        line-height: 100%;
        color: var(--white);
        @media screen and (min-width: 768px) {
            font-size: 35px;
        }
        @media screen and (min-width: 1200px) {
            font-size: 45px;
        }
        @media screen and (min-width: 1640px) {
            font-size: 60px;
        }
        
    }
    &__left{
        margin: 0;
        font-weight: 600;
        font-size: 10px;
        line-height: 130%;
        color: var(--white);
        text-align: center;
        @media screen and (min-width: 1200px) {
            margin-top: 5px;
            font-size: 12px;
        }
    }
}
.first-slider{
    min-width: 0;
    @include flex($just: center);
    width: 200px;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
        width: 160px;
    }
    @media screen and (min-width: 1024px) {
        margin: 0;
        width: 450px;
        flex-grow: 1;
    }
    @media screen and (min-width: 1200px) {
        width: 550px;
    }
    &__btn{
        padding: 0;
        border: none;
        background: transparent;
        &:active{
            .first-slider__btn-icon{
                fill:url(#paint_btn);
            }
        }
    }
    &__btn-icon{
        width: 16px;
        fill: var(--white);
        @media screen and (min-width: 1200px) {
            width: 20px;
        }
        @media screen and (min-width: 1640px) {
            width: 24px;
        }
    }
    &__list{
        min-width: 0;
        // width: 150px;
        margin: 0 10px;
        // overflow: hidden;
        @media screen and (min-width: 768px) {
            width: auto;
        }
        @media screen and (min-width: 1200px) {
            max-width: 550px;
        }
        @media screen and (min-width: 1640px) {
                width: auto;
                max-width: unset;
                flex-grow: 1;
            margin: 0 30px;
        }
        
    }
}
