.footer{
    padding: 20px 20px 10px;
    @include cont;
    border-top: 1px solid rgba($color: #191919, $alpha: 0.5);
    background-color: var(--white);
    @media screen and (min-width: 768px) {
        padding-top: 20px;
        padding-bottom: 10px;
    }
    @media screen and (min-width: 1200px) {
        padding-bottom: 20px;
    }
    @media screen and (min-width: 1640px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    &__bottom{
        @media screen and (min-width: 1200px) {
            margin-top: 20px;
        }
        @media screen and (min-width: 1640px) {
            margin-top: 40px;
        }

    }
}
.footer-info{
    @include flex($wrap: wrap);
    @media screen and (min-width: 768px) {
        align-items: flex-start;
        justify-content: space-between;
        column-gap: 65px;
    }
    @media screen and (min-width: 1200px) {
        column-gap: auto;
    }
    @media screen and (min-width: 1640px) {
        align-items: center;
    }
    &__logo{
        margin-right: 30px;
        @media screen and (min-width: 768px) {
            margin: 0;
        }
        img{
            width: 80px;
            @media screen and (min-width: 768px) {
                width: 100px;
            }
            @media screen and (min-width: 1640px) {
                width: 140px;
            }

        }
    }
}
.footer-nav{
    &__list{
        @include flex($dir: column, $wrap: wrap, $align: flex-start);
        column-gap: 30px;
        height: 60px;
        margin: 0;
        padding: 0;
        list-style: none;
        @media screen and (min-width: 768px) {
            column-gap: 20px;
        }
        @media screen and (min-width: 1200px) {
            height: auto;
            flex-flow: row nowrap;
            column-gap: 40px;
        }
        @media screen and (min-width: 1640px) {
            column-gap: 60px;
        }

    }
    &__item{
        line-height: 1;
    }
    &__link{
        font-weight: 600;
        font-size: 10px;
        line-height: 130%;
        color: var(--black);
        text-decoration: none;
        @include trans;
        @media screen and (min-width: 1200px) {
            font-size: 12px;
        }
        @media screen and (min-width: 1640px) {
            font-size: 16px;
        }
        &:hover{
            color: var(--orange);
        }
    }
}
.footer-contacts{
    @include flex($just: space-between);
    column-gap: 30px;
    margin: 10px 0 20px;
    @media screen and (min-width: 768px) {
        margin: 0;
        column-gap: 10px;
        align-items: flex-start;
    }
    @media screen and (min-width: 1200px) {
        align-items: center;
    }
    @media screen and (min-width: 1640px) {
        column-gap: 30px;
    }
    
    &__link{
        @include flex();
        font-weight: 600;
        font-size: 10px;
        line-height: 130%;
        color: var(--black);
        text-decoration: none;
        @media screen and (min-width: 768px) {
            align-items: flex-start;
        }
        @media screen and (min-width: 1640px) {
            font-size: 12px;
        }
        & + &{
            margin-top: 7px;
            @media screen and (min-width: 1640px) {
                margin-top: 10px;
            }
        }
        
    }
    &__icon{
        width: 14px;
        margin-right: 5px;
        @media screen and (min-width: 1640px) {
            width: 16px;
        }
    }
}
.footer-copy{
    @include flex($wrap: wrap, $just: space-between);
    row-gap: 10px;
    @media screen and (min-width: 768px) {
        flex-wrap: nowrap;
    }
    &__info{
        margin: 0;
        font-size: 10px;
        line-height: 130%;
        color: var(--black);
        text-decoration: none;
        @media screen and (min-width: 768px) {
            order: 1;
            flex: 30% 0 0;
        }
        @media screen and (min-width: 1200px) {
            font-size: 12px;
        }
        @media screen and (min-width: 1640px) {
            font-size: 16px;
        }
        &--link{
            flex-basis: 100%;
            text-align: center;
            @include trans;
            @media screen and (min-width: 768px) {
                flex-basis: auto;
                order: 2;
            }
            &:hover{
                color: var(--orange);
            }
        }
    }
    &__web{
        @media screen and (min-width: 768px) {
            order: 3;
            text-align: end;
            flex: 30% 0 0;
        }
        img{
            @media screen and (min-width: 1200px) {
                width: 65px;
            }
            @media screen and (min-width: 1640px) {
                width: 90px;
            }
        }
    }
}