.form{
    padding: 20px;
    border-radius: 10px;
    background-color: var(--white);
    @media screen and (min-width: 1200px) {
        padding: 30px;
    }
    @media screen and (min-width: 1640px) {
        padding: 20px 40px 25px;
    }
    &__title{
        margin: 0 0 10px;
        font-weight: bold;
        font-size: 16px;
        line-height: 130%;
        color: var(--black);
        text-align: center;
        @media screen and (min-width: 1200px) {
            font-size: 18px;
        }
        @media screen and (min-width: 1640px) {
            font-size: 20px;
            margin-bottom: 20px;
        }
    }
    &__text{
        margin: 0 0 10px;
        @extend .text;
        @media screen and (min-width: 1640px) {
            margin-bottom: 20px;
        }
    }
    &__input{
        display: block;
        width: 100%;
        margin-bottom: 5px;
        padding: 5px 10px;
        border: 1px solid var(--grey);
        box-sizing: border-box;
        font-size: 12px;
        line-height: 130%;
        color: var(--grey);
        border-radius: 4px;
        opacity: 0.5;
        @include trans;
        @media screen and (min-width: 1200px) {
            font-size: 14px;
        }
        @media screen and (min-width: 1640px) {
            margin-bottom: 10px;
            padding: 10px 20px;
            font-size: 16px;
        }
        &::placeholder{
            font-size: 12px;
            line-height: 130%;
            color: var(--grey);
            @media screen and (min-width: 1200px) {
                font-size: 14px;
            }
        }
        &:hover{
            opacity: 0.7;
        }
        &:focus{
            opacity: 1;
            border-color: var(--black);
            &::placeholder{
                color: var(--black);
            }
        }
        @media screen and (min-width: 1200px) {
            font-size: 14px;
        }
        &--filter{
            width: 40px;
            margin: 0;
            padding: 5px;
            text-align: center;
            font-size: 10px;
            text-align: center;
            line-height: 14px;
            border-radius: 3px;
            background-color: transparent;
            appearance: none;
            opacity: 1;
            &::placeholder{
                font-size: 10px;
                line-height: 14px;
            }
            &:focus{
                opacity: 1;
                opacity: 1;
                border-color: var(--orange);
            }
            &:hover{
                opacity: 1;
                border-color: var(--black);
            }
            @media screen and (min-width: 768px) {
                width: 35px;
            }
            @media screen and (min-width: 1200px) {
                width: 45px;
                font-size: 12px;
                line-height: 16px;
            }
            @media screen and (min-width: 1640px) {
                font-size: 14px;
            }
            

        }
        & + &{
        }
    }
    &__check{
        margin-top: 10px;
        @media screen and (min-width: 1200px) {
            margin-top: 5px;
        }
        @media screen and (min-width: 1640px) {
            margin-top: 9px;
        }

    }
}
.checkbox{
    @include flex($align: flex-start);
    font-weight: 600;
    font-size: 8px;
    line-height: 130%;
    @media screen and (min-width: 1200px) {
        font-size: 10px;
    }
    @media screen and (min-width: 1640px) {
        font-size: 12px;
    }
    &--filter{
        align-items: center;
        font-size: 12px;
        line-height: 16px;
        color: var(--grey);
        .checkbox__marker::after{
            background-color: #F2F2F2;
        }
    }
    &--cart{
        align-items: center;
        font-size: 12px;
        line-height: 130%;
        color: var(--grey);
        font-weight: normal;
        .checkbox__marker{
            background: var(--red);
        }
        @media screen and (min-width: 768px) {
            font-size: 12px;
        }
        @media screen and (min-width: 1024px) {
            font-size: 14px;
        }
        @media screen and (min-width: 1640px) {
            font-size: 16px;
        }

    }
    &__con{
        position: relative;
        margin-right: 5px;
        flex-shrink: 0;
        @media screen and (min-width: 1200px) {
            margin-right: 10px;
        }
    }
    &__input{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        &:checked{
            & + .checkbox__marker{
                opacity: 1;
            }
            & + .checkbox__marker::after{
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.19837 12L3.29029 7.55746C3.22891 7.4759 3.19683 7.37099 3.20047 7.26369C3.20412 7.15639 3.24321 7.0546 3.30994 6.97867C3.37667 6.90274 3.46613 6.85826 3.56043 6.85411C3.65473 6.84997 3.74693 6.88647 3.81861 6.95631L7.19088 10.7934L13.7818 3.30252C13.8535 3.23267 13.9457 3.19617 14.04 3.20032C14.1343 3.20446 14.2237 3.24895 14.2904 3.32488C14.3572 3.40081 14.3963 3.50259 14.3999 3.60989C14.4036 3.71719 14.3715 3.82211 14.3101 3.90367L7.19837 12Z' fill='%23191919'/%3E%3C/svg%3E%0A");
            }
        }
        &:focus + .checkbox__marker{
            // outline: 1px solid var(--orange);
        }
    }
    &__marker{
        position: relative;
        display: block;
        padding: 1px;
        width: 16px;
        height: 16px;
        flex-shrink: 0;
        background: var(--gradinet);
        border-radius: 2px;
        &::after{
            content: "";
            position: absolute;
            top: 1px;
            left: 1px;
            right: 1px;
            bottom: 1px;
            width: calc(100% - 2px);
            height: calc(100% - 2px);
            background-color: #FEFEFE;
            background-position: center center;
            background-repeat: no-repeat;
            border-radius: 1px;
        }
        @media screen and (min-width: 1200px) {
            width: 20px;
            height: 20px;
        }
        @media screen and (min-width: 1640px) {
            width: 26px;
            height: 26px;
            opacity: 0.2;
        }
        
    }
    &__marker-inner{
        display: block;
        display: none;
        height: 100%;
        background-color: var(--white);
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 1px;
    }
}