.header{
    position: relative;
    background-color: var(--white);
    &::before{
        content: "";
        opacity: 0;
        @include trans;
    }
    &.main-menu--open{
        &::before{
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 10;
            background-color: rgba(25, 25, 25, 0.7);
            opacity: 1;
        }
        .main-menu{
            left: 20px;
            opacity: 1;
            visibility: visible;
            @media screen and (min-width: 768px) {
                left: var(--con);
            }
        }
    }
    &__top{
        display: none;
        @include cont;
        padding-top: 2px;
        padding-bottom: 2px;
        background-color: var(--bg-color);
        @media screen and (min-width: 1024px){
            display: block;
        }
    }
    &__main{
        @include flex($just: flex-start);
        padding: 10px 20px;
        @include cont;
        @media screen and (min-width: 768px){
            padding-top: 10px;
            padding-bottom: 10px;
            justify-content: space-between;
        }
        @media screen and (min-width: 1200px) {
            padding-top: 5px;
            padding-bottom: 5px;
        }

    }
    &__menu-btn{
        margin-right: 10px;
        @media screen and (min-width: 768px){
            margin-right: 40px;
        }
        @media screen and (min-width: 1024px){
            margin-right: 50px;
        }
        @media screen and (min-width: 1200px){
            margin-right: 60px;
        }
        @media screen and (min-width: 1640px){
            margin-right: 90px;
        }
    }
    &__logo{
        @media screen and (min-width: 520px){
            margin-right: 20px;
        }
        @media screen and (min-width: 1024px){
            margin-right: 40px;
        }
        @media screen and (min-width: 1200px){
            margin-right: 105px;
        }
        @media screen and (min-width: 1640px){
            margin-right: 110px;
        }
        
    }
    &__search{
        margin-left: auto;
    }
    &__cart{
        margin-left: 20px;
        @media screen and (min-width: 1024px){
            margin-left: 40px;
        }
        @media screen and (min-width: 1200px){
            margin-left: 60px;
        }
        @media screen and (min-width: 1640px){
            margin-left: 100px;
        }
    }
    &__contacts{
        display: none;
        margin-left: 40px;
        @media screen and (min-width: 768px){
            display: block;
        }
        @media screen and (min-width: 1024px){
            margin-left: 65px;
        }
        @media screen and (min-width: 1200px){
            margin-left: 75px;
        }
        @media screen and (min-width: 1640px){
            margin-left: 100px;
        }
    }
}

.menu-btn{
    padding: 0;
    background-color: transparent;
    border: none;
    &__icon{
        width: 27px;
        @media screen and (min-width: 1640px) {
            width: 46px;
        }
    }
    &__text{
        display: block;
        font-weight: 600;
        font-size: 8px;
        line-height: 130%;
        text-align: center;
        color: var(--orange);
        @media screen and (min-width: 1024px) {
            font-size: 10px;
        }
        @media screen and (min-width: 1640px) {
            font-size: 14px;
        }
    }
}
.top-nav{
    @media screen and (min-width: 1640px) {
        padding: 3px 0;
    }
    &__list{
        margin: 0;
        padding: 0;
        @include flex($just: center);
        list-style: none;
        @media screen and (min-width: 1640px){
            padding-left: 25.5%;
            justify-content: flex-start;
        }
    }
    &__item{
        & + &{
            margin-left: 40px;
            @media screen and (min-width: 1640px) {
                margin-left: 60px;
            }
        }
    }
    &__link{
        font-size: 12px;
        line-height: 130%;
        text-decoration: none;
        color: var(--black);
        @include trans;
        @media screen and (min-width: 1640px) {
            font-size: 16px;
        }
        &:hover, &:focus{
            color: var(--orange);
        }
        &:active{
            color: var(--orange);
            font-weight: 600;
        }
    }
}
.head-logo{
    &__pic{
        width: 80px;
        @media screen and (min-width: 1024px) {
            width: 100px;
        }
        @media screen and (min-width: 1640px) {
            width: 160px;
        }

    }
}

.head-search{
    position: relative;
    @media screen and (min-width: 520px) {
        flex-grow: 1;
    }
    &--open{
        .head-search__open{
            display: none;
        }
        .head-search__input-con{
            width: 180px;
            @media screen and (min-width: 520px) {
                width: 100%;
            }
        }
    }
    &__input-con{
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 100%;
        padding: 2px;
        background: var(--gradinet);
        border-radius: 3px;
        @include trans;
        @media screen and (min-width: 1024px) {
            width: 100%;
            position: relative;
        }
    }
    &__input{
        // left: 0;
        // bottom: 0;
        display: block;
        width: 100%;
        height: 100%;
        padding: 5px 10px;
        background-color: var(--white);
        border: none;
        outline: none;
        font-weight: 600;
        font-size: 12px;
        line-height: 130%;
        text-align: start;
        border-radius: 3px;
        color: rgba($color: #191919, $alpha: 0.5);
        @media screen and (min-width: 1200px) {
            padding: 3px 10px;
        }
        @media screen and (min-width: 1640px) {
            padding: 10px 20px;
        }
        &::placeholder{
            text-align: start;
            font-weight: 600;
            font-size: 12px;
            line-height: 130%;
            color: var(--black);
            opacity: 0.5;
        }
        &:hover, &:focus{
            color: var(--black);
            filter: drop-shadow(0px 0px 9px rgba(0, 0, 0, 0.16));
            &::placeholder{
                opacity: 1;
            }
        }
    }
    &__submit{
        position: relative;
        @include flex($just: center);
        z-index: 5;
        padding: 2px 9px;
        border: none;
        background: linear-gradient(90deg, #FF9A00 0%, #FF4747 50%, #FF9A00 100%);
        background-size: 200%;
        background-position: left center;
        border-radius: 3px;
        @include trans;
        &:hover{
            background-position: right center;
        }
        @media screen and (min-width: 520px){
            margin-left: auto;
        }
        @media screen and (min-width: 1024px) {
            position: absolute;
            top: 0;
            right: 0;
        }
        @media screen and (min-width: 1200px) {
            padding: 3.5px 10px;
        }
        @media screen and (min-width: 1640px) {
            padding: 5px 10px;
        }
        &-icon{
            width: 17px;
            height: 17px;
            @media screen and (min-width: 1024px) {
                width: 20px;
                height: 20px;
            }
            @media screen and (min-width: 1640px) {
                width: 30px;
                height: 30px;
            }
        }

    }
    &__open{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        border: none;
        background-color: transparent;
        padding: 0;
        @media screen and (min-width: 1024px) {
            display: none;
        }
    }
    &__popular{
        margin-top: 5px;
        @media screen and (max-width: 1024px) {
            display: none;
        }

    }
}
.cart{
    @include flex();
    text-decoration: none;
    &__icon{
        width: 20px;
        margin-right: 3px;
        @media screen and (min-width: 1024px){
            width: 22px;
        }
        @media screen and (min-width: 1200px){
            width: 24px;
        }
        @media screen and (min-width: 1640px){
            width: 30px;
            margin-right: 5px;
        }
    }
    &__items{
        padding: 2px 5px;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: var(--white);
        background: var(--gradinet);
        border-radius: 5px;
        @media screen and (min-width: 1024px){
            padding: 3px 8px;
        }
        @media screen and (min-width: 1200px){
            padding: 5px 10px;
        }
        @media screen and (min-width: 1640){
            padding: 6px 11px;
            font-size: 14px;
        }
    }
}
.head-contacts{
    &__link{
        @include flex();
        text-decoration: none;
        color: var(--black);
        & + &{
            margin-top: 5px;
        }
        &--address{
            @media screen and (max-width: 1024px) {
                display: none;
            }
        }
        &--menu{
            align-items: flex-start;
            .head-contacts__text{
                font-size: 12px;
                line-height: 130%;
            }
            & + &{
                margin-top: 10px;
            }   
        }
    }
    &__icon{
        width: 16px;
        margin-right: 5px;
    }
    &__text{
        letter-spacing: 0.03em;
        font-weight: 600;
        font-size: 10px;
        line-height: 1;
        @media screen and (min-width: 1200px) {
            font-size: 12px;
            line-height: 1.3;
        }
        @media screen and (min-width: 1640px) {
            font-size: 14px;
        }

        
    }

}
.main-menu{
    position: absolute;
    left: -100%;
    top: calc(100% + 20px);
    z-index: 20;
    width: 244px;
    background: var(--white);
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    @include trans;
    @media screen and (min-width: 768px) {
        left: calc(var(--con) - 244px);
    }
    @media screen and (min-width: 1024px) {
        left: calc(var(--con) - 260px);
        width: 260px;
    }
    
    &::after{
        content: "";
        position: absolute;
        right: 25px;
        bottom: 20px;
        width: 40px;
        height: 40px;
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='10.1201' y='0.5' width='29.3797' height='29.3797' rx='2.5' stroke='url(%23paint0_linear_171_6992)'/%3E%3Crect x='0.5' y='10.1202' width='29.3797' height='29.3797' rx='2.5' stroke='%23F04323'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_171_6992' x1='9.62012' y1='15.1899' x2='39.9999' y2='15.1899' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F9D423'/%3E%3Cstop offset='1' stop-color='%23FF4E50'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    }

    &__close{
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 5;
        padding: 0;
        background: transparent;
        line-height: 1;
        border: none;
        @media screen and (min-width: 1024px) {
            top: 20px;
            right: 20px;
        }
        
    }
    &__close-icon{
        width: 16px;
        @media screen and (min-width: 1024px) {
            width: 20px;
        }
        @media screen and (min-width: 1640px) {
            width: 24px;
        }

    }
    &__contacts{
        position: relative;
        padding: 12px 20px 50px;
        @media screen and (min-width: 1024px) {
            padding: 22px 0px 50px 30px;
        }

        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background: var(--gradinet);
        }
    }
}
.menu-nav{
    padding: 20px 20px 10px;
    @media screen and (min-width: 1024px) {
        padding: 30px 30px 20px;
    }
    &__list{
        padding: 0;
        margin: 0;
        list-style: none;
    }
    &__item{
        & + &{
            margin-top: 20px;
        }
    }
    &__link{
        display: block;
        font-weight: 600;
        font-size: 12px;
        line-height: 130%;
        color: var(--black);
        text-decoration: none;
        @include trans;
        &:hover, &:focus, &:active{
            color: var(--orange);
        }
        @media screen and (min-width: 1024px) {
            font-size: 14px;
        }
    }
}
.popular{
    @media screen and (min-width: 1024px) {
        @include flex();
    }
    &__link{
        position: relative;
        font-weight: 600;
        font-size: 10px;
        line-height: 130%;
        color: var(--black);
        text-decoration: none;
        opacity: 0.5;
        @include trans;
        @media screen and (min-width: 1640px) {
            font-size: 12px;
        }
        &:hover{
            opacity: 0.7;
        }
        &:active{
            opacity: 1;
        }
        & + &{
            margin-left: 10px;
            &::after{
                content: "";
                position: absolute;
                top: 0;
                left: -5px;
                width: 1px;
                height: 100%;
                background-color: var(--black);
                opacity: 0.5;
            }
        }
        
    }
}