.item-page{
    padding: 0 20px;
    @include cont;
}
.main-info{
    padding: 20px;
    border-radius: 10px;
    background-color: var(--white);
    @media screen and (min-width: 768px){
        @include flex($align: flex-start);
        column-gap: 20px;
    }
    @media screen and (min-width: 1200px){
        padding: 30px 60px;
        column-gap: 80px;
    }
    &__header{
        @media screen and (min-width: 1200px){
            @include flex($dir: row-reverse, $just: space-between, $align: flex-start);
        }
        @media screen and (min-width: 1640px){
            align-items: center;
        }
    }
    &__status{
        margin: 0 0 5px;
        @media screen and (min-width: 768px){
            margin-bottom: 10px;
        }
        @media screen and (min-width: 1200px){
            margin: 5px 0 0;
        }
    }
    &__pic{
        display: block;
        width: 120px;
        margin: 0 auto 10px;
        @media screen and (min-width: 768px){
            width: 195px;
            flex-shrink: 0;
            margin: 0;
        }
        @media screen and (min-width: 1200px){
            width: 255px;
        }
    }
    &__name{
        @extend .subtitle;
        @media screen and (min-width: 1200px){
            max-width: 470px;
        }
        @media screen and (min-width: 1640px){
            max-width: unset;
        }

    }
    &__descr{
        @media screen and (min-width: 768px){
            flex-grow: 1;
        }

    }
    &__free{
        display: none;
        margin: 10px 0 0;
        @extend .text;
        color: var(--red);
        @media screen and (min-width: 768px){
            display: block;
        }
    }
}
.status{
    @extend .text;
    display: none;
    &--avail{
        display: block;
        color: var(--green);
    }
    &--no{
        color: var(--red);
    }
    &--order{
        color: var(--orange);
    }
    &--out{
        color: var(--grey);
        opacity: 0.5;
    }
}
.add-con{
    position: relative;
    margin-top: 10px;
    
    @media screen and (min-width: 1024px){
        @include flex($align: flex-start);
        column-gap: 20px;
    }
    @media screen and (min-width: 1640px){
        margin-top: 20px;
        column-gap: 80px;
    }
    &__price{
        @media screen and (min-width: 768px){
            flex-basis: 170px;
        }
        &-val{
            margin: 0;
            font-weight: bold;
            font-size: 22px;
            line-height: 130%;
            @media screen and (min-width: 1200px){
                font-size: 26px;
            }
            &--old{
                font-size: 18px;
                color: var(--grey);
                @media screen and (min-width: 1200px){
                    font-size: 22px;
                }
            }
            & + &{
                @media screen and (min-width: 1024px){
                    margin-top: 5px;
                }

            }
        }
    }
    &__swap{
        margin: 0;
        @extend .text;
        color: var(--grey);
    }
    &__order-block{
        @media screen and (min-width: 768px){
            @include flex($dir: row-reverse, $just: space-between, $align: flex-start);
        }
        @media screen and (min-width: 1024px){
            display: block;
            flex-basis: 170px;
        }
        @media screen and (min-width: 1640px){
            flex-basis: auto;
        }

    }
    &__btns{
        margin-top: 20px;
        @media screen and (min-width: 768px){
            margin-top: 0;
        }
        @media screen and (min-width: 1024px){
            margin-top: 10px;
        }
    }
    &__one-btn{
        @media screen and (min-width: 768px){
            width: 140px;
        }
        @media screen and (min-width: 1200px){
            width: 160px;
            padding: 5px;
            font-size: 14px;
        }

    }
    &__quant{
        position: absolute;
        top: 0;
        right: 0;
        @media screen and (min-width: 768px){
            position: static;
            margin-bottom: 10px;
        }
    }
    &__one-btn{
        & + &{
            margin-top: 10px;
        }
    }
    &__parametrs{
        display: none;
        @media screen and (min-width: 1024px){
            display: block;
            flex-basis: 470px;
        }
        @media screen and (min-width: 1640px){
            flex-basis: 515px;
        }
        .item-parametrs__name{
            flex-basis: 63%;
            @media screen and (min-width: 1640px){
                flex-basis: 60%;
            }
        }
    }
}
.quant{
    @include flex();
    border-radius: 5px;
    &__number{
        width: 40px;
        padding: 0;
        border: none;
        border-top: 1px solid rgba($color: #ff9a00, $alpha: 0.1);
        border-bottom: 1px solid rgba($color: #ff9a00, $alpha: 0.1);
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        color: var(--black);
        @media screen and (min-width: 768px){
            border-color: var(--orange);
        }
        @media screen and (min-width: 1640px){
            font-size: 22px;
            line-height: 26px;
        }
    }
    &__btn{
        position: relative;
        padding: 0 10px;
        font-weight: 600;
        font-size: 20px;
        line-height: 130%;
        text-align: center;
        color: var(--white);
        border: none;
        border-radius: 5px;
        background: linear-gradient(90deg, #FF9A00 0%, #FF4747 50%, #FF9A00 100%);
        background-size: 200%;
        background-position: left center;
        @include trans;
        @media screen and (min-width: 1640px){
            font-size: 22px;
        }
        &:hover{
            background-position: right center;
        }
        &--minus{
            margin-right: -2px;
            @media screen and (min-width: 1640px){
                margin-right: -3px;
            }
        }
        &--plus{
            margin-left: -2px;
            @media screen and (min-width: 1640px){
                margin-left: -3px;
            }
        }
    }
}
.item-parametrs{
    &__title{
        margin-bottom: 10px;
        @extend .element-title;
        @media screen and (min-width: 1640px){
            margin-bottom: 20px;
        }

    }
    &__one{
        @include flex();
        margin: 0;
        padding-top: 5px;
        & + &{
            margin-top: 5px;
            border-top: 1px solid rgba($color: #828282, $alpha: 0.1);
        }
    }
    &__name{
        
        flex-basis: 50%;
        @extend .text;
        color: var(--grey);

    }
    &__value{
        @extend .text;
        a {
            color: var(--red);
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}
.item-full{
    padding: 10px 20px 20px;
    @include cont;
    @media screen and (min-width: 1024px){
        @include flex($align: stretch);
        column-gap: 20px;
        padding-top: 20px;
    }
    @media screen and (min-width: 1640px){
        padding-top: 30px;
        column-gap: 30px;
    }
    &__one{
        padding: 20px;
        border-radius: 10px;
        background-color: var(--white);
        @media screen and (min-width: 1024px){
            padding: 30px;
            flex-basis: 50%;
        }
        @media screen and (min-width: 1640px){
            padding: 40px;
        }
        & + &{
            @media screen and (max-width: 1024px){
                margin-top: 10px;
            }
        }
    }
    &__title{
        margin: 0 0 10px;
        @extend .block-title;
        @media screen and (min-width: 1640px){
            margin-bottom: 20px;
        }

    }
    &__text{
        margin: 0;
        @extend .text;
    }
}