.item{
    // width: 135px;
    padding: 10px;
    background-color: var(--white);
    border-radius: 5px;
    border: 1px solid transparent;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.16);
    @media screen and (min-width: 768px) {
        // width: 215px;
        padding: 20px;
    }
    @media screen and (min-width: 1200px) {
        padding: 20px 20px 10px;
    }
    @media screen and (min-width: 1640px) {
        padding: 26px 20px 20px;
    }
    &--first{
        position: relative;
        box-shadow: 0px 4px 8px rgba(248, 248, 248, 0.25);
        @media screen and (max-width: 768px) {
            @include flex($wrap: wrap, $align: flex-start);
        }
        @media screen and (min-width: 768px) {
            padding: 10px;
        }
        @media screen and (min-width: 1200px) {
        }
        @media screen and (min-width: 1640px) {
            padding: 10px 20px 15px;
        }
        .item__pic{
            width: 50px;
            border-radius: 5px;
            @media screen and (min-width: 768px) {
                display: block;
                width: 80px;
                height: 80px;
                height: auto;
                margin: 0 auto;
            }
            @media screen and (min-width: 1200px) {
                width: 90px;
                height: 90px;
            }
            @media screen and (min-width: 1640px) {
                width: 120px;
                height: 120px;
            }
        }
        .item__name{
            margin: 0;
            width: 70px;
            margin-left: 5px;
            font-size: 10px;
            line-height: 130%;
            @media screen and (min-width: 768px) {
                margin-top: 10px;
                margin-left: 0;
                width: 90px;
            }
            @media screen and (min-width: 1024px) {
                width: 100%;
            }
            @media screen and (min-width: 1640px) {
                font-size: 12px;
            }
        }
        .prices-item__old-val{
            text-decoration: line-through;
            font-size: 10px;
            line-height: 14px;
            @media screen and (min-width: 1200px) {
                font-size: 12px;
                line-height: 16px;
            }
            @media screen and (min-width: 1920px) {
                font-size: 14px;
                line-height: 19px;
            }
        }
        .prices-item__now{
            margin: 0;
            margin-right: 15px;
            font-weight: bold;
            font-size: 12px;
            line-height: 16px;
            @media screen and (min-width: 768px) {
                margin-right: 0;
            }
            @media screen and (min-width: 1200px) {
                font-size: 14px;
                line-height: 19px;
            }
            @media screen and (min-width: 1640px) {
                margin-right: 10px;
                font-size: 18px;
                line-height: 25px;
            }
        }
        .prices-item__title{
            @media screen and (min-width: 768px) {
                font-size: 6px;
                line-height: 8px;
            }
            @media screen and (min-width: 1640px) {
                font-size: 8px;
                line-height: 11px;
            }
        }
    }
    &:hover{
        &:not(.item--first){
            border-color: var(--orange);
        }
    }
    &:active{
        border-color: var(--red);
    }
    &__link{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
    }
    &__pic{
        display: block;
        margin: 0 auto;
        width: 95px;
        height: 80px;
        object-fit: contain;
        border-radius: 10px;
        @media screen and (min-width: 768px) {
            width: 175px;
            height: 150px;
        }
        @media screen and (min-width: 1024px) {
            width: 120px;
            height: auto;
        }
        @media screen and (min-width: 1200px) {
            width: 137px;
            // height: 120px;
        }
        @media screen and (min-width: 1640px) {
            width: 148px;
            // height: 140px;
        }
    }
    &__name{
        margin: 5px 0;
        font-weight: 600;
        font-size: 10px;
        line-height: 130%;
        @media screen and (min-width: 768px) {
            margin-top: 10px;
            font-size: 12px;
        }
        @media screen and (min-width: 1200px) {
            margin-bottom: 10px;
            font-size: 14px;
        }
        @media screen and (min-width: 1640px) {
            font-size: 16px;
        }
        a{
            text-decoration: none;
            color: var(--black);
        }
    }
    &__btn{
        margin-top: 10px;
        padding-top: 3px;
        padding-bottom: 3px;
        margin-bottom: 5px;
        @media screen and (min-width: 1640px) {
            padding: 5px 0;
        }
    }
    &__one-click{
        display: block;
        width: fit-content;
        padding: 0;
        border: none;
        background: transparent;
        margin: 5px auto 0;
        text-align: center;
        font-weight: 600;
        font-size: 10px;
        line-height: 130%;
        color: var(--black);
        text-decoration: underline;
        &:active{
            color: var(--red);
        }
        @media screen and (min-width: 1200px) {
            font-size: 12px;
        }
        @media screen and (min-width: 1640px) {
            font-size: 14px;
        }
    }
}
.prices-item{
    width: 100%;
    margin-top: 5px;
    @include flex($just: flex-end);
    @media screen and (min-width: 768px) {
        justify-content: space-between;
    }
    @media screen and (min-width: 1200px) {
        align-items: flex-end;
    }
    @media screen and (min-width: 1640px) {
        margin-top: 10px;
    }
    
    &__now{
        margin: 0;
        margin-right: 15px;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        @media screen and (min-width: 768px) {
            margin-right: 0;
            font-size: 16px;
            line-height: 22px;
        }
        @media screen and (min-width: 1200px) {
            font-size: 18px;
            line-height: 25px;
        }
        @media screen and (min-width: 1640px) {
            margin-right: 10px;
            font-size: 24px;
            line-height: 33px;
        }
        
    }
    &__old{
        margin: 0;
        text-align: center;
    }
    &__old-val{
        font-size: 12px;
        line-height: 16px;
        color: var(--grey);
        @media screen and (min-width: 768px) {
            font-size: 14px;
            line-height: 19px;
        }
        @media screen and (min-width: 1200px) {
            font-size: 16px;
            line-height: 22px;
        }
        @media screen and (min-width: 1640px) {
            font-size: 18px;
            line-height: 25px;
        }
    }
    &__title{
        display: block;
        font-weight: 600;
        font-size: 6px;
        line-height: 8px;
        color: var(--red);
        @media screen and (min-width: 768px) {
            font-size: 10px;
            line-height: 130%;
        }
        @media screen and (min-width: 1640px) {
            font-size: 14px;
        }
    }
}