.map{
    padding: 20px 20px 16px;
    @include cont;
    @media screen and (min-width: 768px) {
        @include flex($wrap: wrap, $just: center);
        column-gap: 20px;
        row-gap: 20px;
        padding-bottom: 39px;
    }
    @media screen and (min-width: 1024px) {
        padding-top: 30px;
        justify-content: space-between;
    }
    @media screen and (min-width: 1640px) {
        padding-top: 40px;
        column-gap: 40px;
        padding-top: 40px;
    }
    &__info{
        @media screen and (min-width: 768px) {
            flex-basis: 215px;
        }
        @media screen and (min-width: 1024px) {
            order: 1;
            flex-basis: 320px;
        }
        @media screen and (min-width: 1640px) {
            flex-basis: auto;
            flex-shrink: 0;
        }

    }
    &__title{
        margin-bottom: 10px;
    }
    &__order{
        margin: 10px 0 20px;
        @media screen and (min-width: 768px) {
            display: none;
        }
    }
    &__form{
        display: none;
        @media screen and (min-width: 768px) {
            display: block;
            flex-basis: 216px;
        }
        @media screen and (min-width: 1024px) {
            order: 3;
            flex-basis: 275px;
        }
        @media screen and (min-width: 1640px) {
            flex-basis: 375px;
        }
        .form{
            @media screen and (min-width: 1640px) {
                padding: 40px;
            }
        }


    }
    &__map-con{
        flex-basis: 100%;
        @media screen and (min-width: 1024px) {
            order: 2;
            flex-basis: 450px;
        }
        @media screen and (min-width: 1200px) {
            flex-basis: 490px;
        }
        @media screen and (min-width: 1640px) {
            margin-top: 26px;
            flex-grow: 1;
        }


    }
}
.map-contacts{
    position: relative;
    // padding: 1px;
    &::before{
        content:"";
        position: absolute;
        top: -1px;
        left: -1px;
        // right: 0;
        // bottom: 0;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        border-radius: 10px;
        background: var(--gradinet);
    }
    &__con{
        position: relative;
        padding: 10px;
        background-color: var(--bg-color);
        border-radius: 9px;
        @media screen and (min-width: 1200px) {
            padding: 20px;
        }
    }
    &__link{
        @include flex($align: flex-start);
        font-weight: 600;
        font-size: 12px;
        line-height: 130%;
        color: var(--black);
        letter-spacing: 0.03em;
        text-decoration: none;
        @media screen and (min-width: 1200px) {
            font-size: 16px;
            align-items: center;
        }
        &-icon{
            width: 16px;
            margin-right: 5px;
            @media screen and (min-width: 1200px) {
                width: 24px;
                margin-right: 10px;
            }
            @media screen and (min-width: 1640px) {
                width: 30px;
            }

        }
        & + &{
            margin-top: 10px;
        }
    }   
    &__text{
        @media screen and (min-width: 1640px) {
            br{
                display: none;
            }
        }
    }
}
.map-con{
    position: relative;
    width: 100%;
    line-height: 0;
    &__iframe{
        object-fit: cover;
        position: relative;
        z-index: 1;
        width: 100%;
        height: 180px;
        border-radius: 5px;
        background: var(--red);
        @media screen and (min-width: 768px) {
            height: 270px;
        }
        @media screen and (min-width: 1640px) {
            height: 360px;
        }
    }
    &__square{
        position: absolute;
        width: 18px;
        @media screen and (min-width: 768px) {
            width: 45px;
        }
        @media screen and (min-width: 1640px) {
            width: 60px;
        }
        
        &--1{
            top: -9px;
            right: -9px;
            @media screen and (min-width: 768px) {
                top: -18px;
                right: -18px;
            }
            @media screen and (min-width: 1640px) {
                top: -26px;
                right: -15px;
            }

        }
        &--2{
            bottom: -6px;
            left: -6px;
            @media screen and (min-width: 768px) {
                bottom: -19px;
                left: -14px;
            }
            @media screen and (min-width: 1640px) {
                bottom: -20px;
                left: -20px;
            }

        }
    }

}