.content--modal-open{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    @include flex($just: center);
    display: none;
    overflow: scroll;
    animation: fadeIn 0.5s;
    .form{
        display: none;
    }
    &--order{
        display: flex;
        .form--order{
            display: block;
        }
    }
    &--help{
        display: flex;
        .form--help{
            display: block;
        }
    }
    &__bg{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba($color: #191919, $alpha: 0.7);
    }
    &__content{
        position: relative;
        width: 216px;
        @media screen and (min-width: 768px) {
            width: 280px;
        }
        @media screen and (min-width: 1024px) {
            width: 377px;
        }
    }
    &__close{
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 0;
        background-color: transparent;
        border: none;
        &-icon{
            width: 16px;
        }
    }
    &__inputs{
        @include trans;
    }
    &--success{
        .modal__thanks{
            transform: scaleY(1);
            max-height: 999px;
            padding-bottom: 30px;
            @media screen and (min-width: 768px) {
                padding-bottom: 10px;
            }
            @media screen and (min-width: 1200px) {
                padding-bottom: 50px;
            }
        }
        .modal__inputs{
            max-height: 0;
            transform: scaleY(0);
        }
    }
    .modal__inputs{
        transform-origin: bottom;
        @include trans;
    }
}
.modal-thanks{
    max-height: 0;
    transform-origin: top;
    transform: scaleY(0);
    @include trans;
    &__icon{
        display: block;
        margin: 0 auto;
        width: 60px;
        @media screen and (min-width: 768px) {
            width: 80px;
        }
        @media screen and (min-width: 1200px) {
            width: 105px;
        }
    }
    &__text{
        max-width: 160px;
        margin: 10px auto 0;
        font-weight: 600;
        font-size: 12px;
        line-height: 130%;
        text-align: center;
        @media screen and (min-width: 768px) {
            margin-top: 15px;
            font-size: 14px;
            max-width: 210px;
        }
        @media screen and (min-width: 1200px) {
            margin-top: 25px;
            font-size: 16px;
            max-width: unset;
        }
    }
}
.modal-inputs{

}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}