.pluses{
    margin-top: 15px;
    padding: 20px;
    @include cont;
    background-color: var(--bg-plus);
    border-radius: 10px;
    @media screen and (min-width: 1024px) {
        margin-top: 25px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    @media screen and (min-width: 1640px) {
        margin-top: 35px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    &__title{
        margin-bottom: 10px;
        @media screen and (min-width: 1640px) {
            margin-bottom: 15px;
        }

    }
    &__list{
        @media screen and (min-width: 768px) {
            @include flex($wrap: wrap, $just: space-between, $align: stretch);
            row-gap: 20px;
            column-gap: 20px;
        }
        @media screen and (min-width: 1200px) {
            flex-wrap: nowrap;
        }
        @media screen and (min-width: 1640px) {
            column-gap: 45px;
        }
        
    }
    &__one{
        flex: calc(50% - 10px) 1 0;
        @media screen and (min-width: 1024px) {
            flex-basis: calc(25% - 20px);
        }
        @media screen and (min-width: 1640px) {
            flex-basis: calc(25% - 45px);
        }
    }
}
.one-plus{
    @include flex($align: flex-start);
    padding: 10px 10px 10px 8px;
    background-color: var(--white);
    box-shadow: 0px 0px 11px rgba(25, 25, 25, 0.15);
    border-radius: 10px;
    @media screen and (min-width: 768px) {
        padding: 10px 20px 20px 10px;
    }
    @media screen and (min-width: 1024px) {
        padding: 10px;
        padding-right: 20px;
    }
    @media screen and (min-width: 1200px) {
        padding-right: 25px;
    }
    & + &{
        @media screen and (max-width: 767px) {
            margin-top: 10px;
        }
    }
    &__icon{
        width: 40px;
        margin-right: 10px;
        flex-shrink: 0;
        // stroke: var(--black);
        @media screen and (min-width: 767px) {
            width: 50px;
        }
        @media screen and (min-width: 1200px) {
            width: 60px;
        }

    }
    &__content{
        padding-top: 8px;
        @media screen and (min-width: 767px) {
            padding-top: 14px;
        }
        @media screen and (min-width: 1200px) {
            padding-top: 17px;
        }
    }
    &__name{
        margin: 0 0 10px;
        font-weight: 600;
        font-size: 18px;
        line-height: 130%;
        @media screen and (min-width: 1640px) {
            margin-bottom: 5px;
            font-size: 20px;
        }
    }
    &__list{
        margin: 5px 0 0;
        padding: 0;
        list-style: none;
        @media screen and (min-width: 767px) {
            margin-top: 10px;
        }
    }
    &__item{
        padding-left: 21px;
        color: var(--grey);
        font-size: 14px;
        line-height: 130%;
        background-size: 16px 16px;
        background-position: left top;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 4H14V2.5C14 2.22375 13.7762 2 13.5 2H10.5C10.2238 2 10 2.22375 10 2.5V4H6V2.5C6 2.22375 5.77625 2 5.5 2H2.5C2.22375 2 2 2.22375 2 2.5V4H1C0.447812 4 0 4.44781 0 5V13C0 13.5522 0.447812 14 1 14H15C15.5522 14 16 13.5522 16 13V5C16 4.44781 15.5522 4 15 4ZM6 8.25C6 8.38812 5.88812 8.5 5.75 8.5H2.25C2.11188 8.5 2 8.38812 2 8.25V7.75C2 7.61188 2.11188 7.5 2.25 7.5H5.75C5.88812 7.5 6 7.61188 6 7.75V8.25ZM14 8.25C14 8.38812 13.8881 8.5 13.75 8.5H12.5V9.75C12.5 9.88812 12.3881 10 12.25 10H11.75C11.6119 10 11.5 9.88812 11.5 9.75V8.5H10.25C10.1119 8.5 10 8.38812 10 8.25V7.75C10 7.61188 10.1119 7.5 10.25 7.5H11.5V6.25C11.5 6.11188 11.6119 6 11.75 6H12.25C12.3881 6 12.5 6.11188 12.5 6.25V7.5H13.75C13.8881 7.5 14 7.61188 14 7.75V8.25Z' fill='url(%23paint0_linear_180_12657)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_180_12657' x1='0' y1='8' x2='18.08' y2='8' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FF9A00'/%3E%3Cstop offset='0.838542' stop-color='%23FF4747'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
        & + &{
            margin-top: 5px;
            @media screen and (min-width: 767px) {
                margin-top: 10px;
            }
            @media screen and (min-width: 1024px) {
                margin-top: 5px;
            }

        }
    }
}