.slider{
    padding: 10px 20px 0;
    // @include cont;
    overflow: hidden;
    @media screen and (min-width: 768px) {
        width: var(--con-size);
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }
    &__header{
        margin-bottom: 10px;
    }
    & + &{
        margin-top: 0px;
        @media screen and (min-width: 1200px) {
            margin-top: 5px;
        }
    }
    &__list{
        padding-bottom: 5px;
    }
    &-index{
        &--index{
            // flex-flow: column wrap;
            // max-height: 680px;
            // row-gap: 10px;
        }
        .swiper-wrapper{
            height: 470px;
            @media screen and (min-width: 768px) {
                height: 700px;
            }
            @media screen and (min-width: 1024px) {
                height: 700px;
            }
            @media screen and (min-width: 1200px) {
                height: 650px;
            }
            @media screen and (min-width: 1640px) {
                height: 746px;
            }
        }
        .item{
            height: 230px;
            @media screen and (min-width: 768px) {
                height: 320px;
            }
            @media screen and (min-width: 1024px) {
                height: 340px;
            }
            @media screen and (min-width: 1200px) {
                height: 315px;
            }
            @media screen and (min-width: 1640px) {
                height: 356px;
            }
        }
    }
}
.slider-header{
    @include flex($wrap: wrap, $just: space-between);
    @media screen and (min-width: 768px) {
        justify-content: flex-start;
    }
    &--popular{
        position: relative;
        @media screen and (max-width: 767px) {
            .slider-header__title{
                max-width: 220px;
            }
            .slider-header__info{
                position: absolute;
                bottom: 0;
                right: 0;
                // margin-left: auto;
            }
        }
        
    }
    &--big{
        .slider-header__title{
            flex-basis: 100%;
            @media screen and (min-width: 768px) {
                flex-basis: auto;
            }
            
        } 
    }
    &__title{
        margin-bottom: 5px;
        @media screen and (min-width: 768px) {
            margin-bottom: 0;
            margin-right: 10px;
        }
        @media screen and (min-width: 1200px) {
            margin-right: 20px;
        }
    }
    &__info{
        @media screen and (min-width: 768px) {
            margin-left: auto;
        }
    }
}
.switch-type{
    @include flex($just: space-between);
    width: fit-content;
    column-gap: 5px;
    @media screen and (min-width: 1200px) {
        column-gap: 10px;
    }
}
.slider-info{
    @include flex();
    column-gap: 10px;
    @media screen and (min-width: 768px) {
        column-gap: 20px;
    }
    @media screen and (min-width: 1200px) {
        column-gap: 30px;
    }
    &__counter{
        font-weight: 600;
        font-size: 12px;
        line-height: 130%;
        @media screen and (min-width: 1200px) {
            font-size: 14px;
        }
        @media screen and (min-width: 1640px) {
        }
        .swiper-pagination-current{
            color: var(--orange);
        }
    }
    &__number{
        &--now{
            color: var(--orange);
        }
    }
    &__btns{
        @include flex();
        column-gap: 10px;
    }
    &__btn{
        padding: 0;
        border: none;
        background: transparent;
        &-icon{
            width: 20px;
            fill: var(--black);
            @include trans;
        }
        &:active{
            .slider-info__btn-icon{
                fill:url(#paint_btn);
            }
        }
    }


}