.title{
    margin: 0 0 5px;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    @media screen and (min-width: 768px) {
        margin-bottom: 10px;
        font-size: 22px;
    }
   @media screen and (min-width: 1200px) {
       margin-bottom: 5px;
       font-size: 26px;
       line-height: 130%;
    }
    @media screen and (min-width: 1640px) {
        margin-bottom: 10px;
        font-size: 28px;

    }
    &--white{
        color: var(--white);
        text-align: center;
        @media screen and (min-width: 768px) {
            text-align: start;
        }
    }
}
.subtitle{
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    @media screen and (min-width: 1200px) {
        font-size: 22px;
    }
    @media screen and (min-width: 1640px) {
        font-size: 24px;
    }
}
.block-title{
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    @media screen and (min-width: 1200px) {
        font-size: 20px;
    }
    @media screen and (min-width: 1640px) {
        font-size: 22px;
    }
}
.element-title{
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 130%;
    @media screen and (min-width: 1640px) {
        font-size: 16px;
    }
}
.text{
    margin: 0;
    line-height: 130%;
    font-size: 12px;
    @media screen and (min-width: 1200px) {
        font-size: 14px;
    }
    @media screen and (min-width: 1640px) {
        font-size: 16px;
    }
    &--bold{
        font-weight: 600;
    }
    &--small{
        font-weight: 600;
        font-size: 10px;
        @media screen and (min-width: 1200px) {
            font-size: 12px;
        }
    }
}