:root{
    --open: 'Open Sans', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --bg-color: #F2F2F2;
    --black: #191919;
    --red: #ff4747;
    --white: #FEFEFE;
    --grey: #828282;
    --blue: #005BFE;
    --orange: #FF9A00;
    --green: #21BF4F;
    --lightred: #FF9B89;
    --bg-plus: #FDF9F5;
    --gradinet: linear-gradient(90deg, #FF9A00 0%, #FF4747 94.76%);
    --con-size: 688px;
   --con: calc((100vw - var(--con-size)) / 2);
   @media screen and (min-width: 1024px) {
       --con-size: 980px
   }
   @media screen and (min-width: 1200px) {
       --con-size: 1160px;
   }
   @media screen and (min-width: 1640px) {
       --con-size: 1600px;
   }
}
@mixin cont{
    @media screen and (min-width: 768px) {
        padding-left: var(--con);
        padding-right: var(--con);
    }
}
@mixin flex($dir: row, $wrap: nowrap, $align: center, $just: flex-start){
    display: flex;
    flex-flow: $dir $wrap;
    align-items: $align;
    justify-content: $just;
}

@mixin trans{
    transition: 0.3s;
}