@import "vars";
@import "swiper";
// @import "fonts";
@import "normalize";
@import "btn";
@import "modal";
@import "typography";
@import "form";
@import "header";
@import "footer";
@import "wrapper";
@import "first";
@import "item";
@import "slider";
@import "pluses";
@import "brands";
@import "about-us";
@import "map";
@import "bread";
@import "catalog";
@import "filter";
@import "item-page";
@import "about-page";
@import "delivery-page";
@import "contacts-page";
@import "cart-page";
@import "404";
body{
    font-family: var(--open);
    color: var(--black);
    background-color: var(--bg-color);
}
*{
    outline-color: var(--orange);
    box-sizing: border-box;
}
button{
    cursor: pointer;
}
.content{
    &--modal{
        overflow: hidden;
        // height: 100vh;
    }
}